@{
    ViewBag.Title = "PasswordResetSuccess";
    Layout = "~/Views/_LayoutCIAB.cshtml";
}


<div id="about_top">
    <div class="container">
        <div class="header_wrap">

            <h2>Successfully updated the Password.</h2>

           </div>
    </div>
</div>


            

