
@{
    ViewBag.Title = "ResetMessage";
    Layout = "~/Views/_LayoutCIAB.cshtml";
}




<div id="about_top" style="padding:150px">
    <div class="container">
        <div class="row signup_login">
            <div class="col-md-8 col-md-offset-1">
                <h4>
                    <strong> If a user account with that Email address exists, we will have sent a password reset link </strong>
                </h4>
             </div><!-- /about_header -->
        </div>
    </div>
</div>



