@{
    ViewBag.Title = "AboutUs";
  
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>About Us</title>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-static-top" class="about">

    <div id="sub_header">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mart_header">
                    <h1>About Us</h1>
                </div><!-- /about_header -->
            </div>
        </div>
    </div><!-- /sub_header -->

    <div id="about_top">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <!-- <h3>Who We Are &amp; What We Do</h3>
                    <div class="row">
                        <div class="col-md-offset-5 col-md-2" style="background:#2a689d;height:3px;margin-top:30px;margin-bottom:40px;">
                        </div>
                    </div> -->
                    <p>Organisations across the world and industries are facing emerging cyber threats. Investors, governments and regulators are increasingly challenging companies to actively demonstrate diligence in cyber security. Are you doing enough to safeguard your assets?</p>
                    <p>KPMG’s Cyber in a Box is a digital platform that allows organisations to buy and deploy off the shelf cyber security services such as vulnerability assessment, malware scan and website defacement recovery. These pre-defined services give small and medium businesses a starting step towards improving its cyber hygiene and readiness with little hassle.</p>
                </div><!-- /about_header -->
                <div class="col-md-6">
                    <img src="~/Images/kpmg-about-us.png" alt="" class="center-block img-responsive" />
                </div><!-- /about_header -->
            </div>
        </div>
    </div><!-- /about_header -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!--<script>
        $(document).ready(function () {
            $("#myBtn").click(function () {
                $("#myModal").modal();
            });
        });
    </script>-->

</body>
</html>

