
@{
    ViewBag.Title = "AsyncKendoUploader";

}

<h2>AsyncKendoUploader</h2>




<div style="width:45%">
    <div class="demo-section">
        @(Html.Kendo().Upload()
            .Name("files")
            .Async(a => a
                .Save("Save", "Upload")
                .Remove("Remove", "Upload")
                .AutoUpload(true)
            )
        )
    </div>
</div>
