<html>
<head>
    <title>Cyber Security Health check</title>
    <meta name="keywords" content="KPMG, internet, security, questionnaire, people, process, technology, operational, governance, compliance, report" />
    <meta name="description" content="" />
</head>
<body>
        <div id="sub_header">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mart_header">
                    <h1>Cybersecurity Health Check</h1>
                </div>
            </div>
        </div>
    </div><!-- /sub_header -->

    <div id="cyber_intro" class="cyber_text cyber_header_new">
        <div class="container">
            <div class="row">
                <p>Understanding the health state of your organisation’s system is crucial in protecting and improving the systems in place.</p>
            </div>
        </div>
        <div class="container" style="position:absolute;bottom:-2px;width:100%">
            <div class="row">
                <div class="col-md-8 col-md-offset-3">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#how">How It Works</a></li>
                        <li><a data-toggle="tab" href="#faq">FAQ</a></li>
                        <li><a data-toggle="tab" href="#price">Pricing</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- /cyber_intro -->

    <div id="sub_content" class="cloud">
        <!-- Nav tabs -->

        <div class="tab-content">
            <div id="how" class="tab-pane fade in active">
                <div class="container">
                    <div class="row cyber_details">
                        <div class="col-md-offset-1 col-md-2">
                            <img src="~/Images/gears.jpg" alt="" class="pull-left gears">
                        </div>
                        <div class="col-md-9">
                            <h3>How It Works</h3>
                            <p>KPMG Cybersecurity Health Check will assess the organisation’s systems based on the following 6 areas:</p>
                        </div>
                    </div><!-- /cyber_details -->
                    <div class="row cyber_details">
                        <div class="col-md-offset-2 col-md-9">
                            <img src="~/Images/cyber_new_image.jpg" alt="" class="img-responsive center-block mature">
                            <p>The Cybersecurity health check will provide you with a mapping of the various cybersecurity health level. With the results, companies will be able to gain a better understanding of the organisation’s cyber security standard as well as areas of improvements.</p>
                        </div>
                    </div><!-- /cyber_details -->
                </div>
            </div><!-- /how -->
            <div id="faq" class="tab-pane fade">
                <div class="screenie">
                    <div class="container">
                        <div class="row">
                            <p class="screen_title">Sample Report</p>
                            <div class="col-md-4">
                                &nbsp;
                            </div>
                            <div class="col-md-4">
                                <a class="group1 thumbnail" href="~/Images/screenshots/sample-results_CyberHealth.jpg" title="Summary of results">
                                    <img src="~/Images/screenshots/sample-results_CyberHealth.jpg" alt="..." class="img-responsive">
                                </a>
                            </div>
                            <div class="col-md-4">
                                &nbsp;
                            </div>
                        </div>
                    </div>
                </div><!-- /screenie -->
                <div class="container">
                    <div class="row cyber_details faq">
                        <div class="col-md-4">
                            <img src="~/Images/qa-icon.jpg" class="pull-left m_right" />
                            <h3>Question and Answers</h3>
                        </div>
                        <div class="col-md-8">
                            <h5>1. Who can fill up the Cyber Health Questionnaire?</h5>
                            <p>The questionnaire requires inputs that covers a wide aspect on cyber security in the organisation, including people, process and technology. We recommend that person(s) in a senior IT-related operational, governance or compliance role to answer the questionnaire.</p>

                            <h5>2. Is the questionnaire free?</h5>
                            <p>The Cyber Health Questionnaire is free, but you need to provide valid company and contact information for us to prepare the results.</p>

                            <h5>3. How do I receive the results?</h5>
                            <p>After the user submitted the Cyber Health Questionnaire, the results will be sent via email within 1-2 working days.</p>
                        </div>
                    </div><!-- /cyber_details -->
                </div>
            </div><!-- /faq -->
            <div id="price" class="tab-pane fade">
                <div class="container">
                    <div class="row cyber_details faq">
                        <div class="col-md-12">
                            <div id="DIV_1">
                                <div id="DIV_2">
                                    <div id="DIV_3">
                                    </div>
                                    <div id="DIV_4">
                                        <div id="DIV_5">
                                            Expert
                                        </div>
                                        <div id="DIV_6">
                                            Fortune 500 Business
                                        </div>
                                        <div id="DIV_7">
                                            <p id="P_8">
                                                <sup id="SUP_9">$</sup>199/<sub id="SUB_10">mo</sub>
                                            </p>
                                        </div>
                                        <div id="DIV_11">

                                        </div>
                                    </div>
                                    <div id="DIV_18">
                                    </div>
                                    <div id="DIV_19">
                                        <div id="DIV_20">
                                            <div id="DIV_21">
                                                <p id="P_22">
                                                    <strong id="STRONG_23">PRO FEATURES</strong>
                                                </p>
                                            </div>
                                            <div id="DIV_29">
                                                <p id="P_30">
                                                    Client Sub-Accounts
                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                    <div id="DIV_35">
                                    </div>
                                    <div id="DIV_36">
                                        <div id="DIV_37">
                                            <p id="P_38">
                                                No setup fees
                                            </p>
                                            <p id="P_39">
                                                No long term contracts
                                            </p>
                                            <p id="P_40">
                                                Change plans at any time
                                            </p>
                                            <p id="P_41">
                                                30-day free trial
                                            </p>
                                        </div>
                                        <div id="DIV_42">
                                            <a href="@Url.Action("DispalyOrder", "Order", new { ProductHandle = "CIABCSC" })" onclick='location.href=this.getAttribute("href")' id="A_130">START MY<br id="BR_131" />30-DAY FREE TRIAL</a>
                                        </div>
                                    </div>
                                    <div id="DIV_45">
                                    </div>
                                </div>
                                <div id="DIV_46">
                                    <div id="DIV_47">
                                        BEST VALUE
                                    </div>
                                    <div id="DIV_48">
                                        <div id="DIV_49">
                                            Standard
                                        </div>
                                        <div id="DIV_50">
                                            Consultants &amp; Small Business
                                        </div>
                                        <div id="DIV_51">
                                            <p id="P_52">
                                                <sup id="SUP_53">$</sup>99/<sub id="SUB_54">mo</sub>
                                            </p>
                                        </div>
                                        <div id="DIV_55">
                                            <div>

                                            </div>
                                        </div>
                                    </div>
                                    <div id="DIV_62">
                                    </div>
                                    <div id="DIV_63">
                                        <div id="DIV_64">
                                            <div id="DIV_65">
                                                <p id="P_66">
                                                    <strong id="STRONG_67">PRO FEATURES</strong>
                                                </p>
                                            </div>
                                            <div>

                                            </div>
                                            <div>

                                            </div>
                                            <div id="DIV_73">
                                                <p id="P_74">
                                                    –
                                                </p>
                                            </div>
                                            <div id="DIV_75">
                                                <p id="P_76">
                                                    <a href="/pricing-compare/" id="A_77"><strong id="STRONG_78">See All Features</strong></a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="DIV_79">
                                    </div>
                                    <div id="DIV_80">
                                        <div id="DIV_81">
                                            <p id="P_82">
                                                No setup fees
                                            </p>
                                            <p id="P_83">
                                                No long term contracts
                                            </p>
                                            <p id="P_84">
                                                Change plans at any time
                                            </p>
                                            <p id="P_85">
                                                30-day free trial
                                            </p>
                                        </div>
                                        <div id="DIV_86">
                                            <a href="@Url.Action("DispalyOrder", "Order", new { ProductHandle = "CIABCSC" })" onclick='location.href=this.getAttribute("href")' id="A_130">START MY<br id="BR_131" />30-DAY FREE TRIAL</a>
                                        </div>
                                        <div id="DIV_89">
                                        </div>
                                    </div>
                                    <div id="DIV_90">
                                        <div id="DIV_91">
                                        </div>
                                        <div id="DIV_92">
                                            <div id="DIV_93">
                                                Starter
                                            </div>
                                            <div id="DIV_94">
                                                New Business &amp; Entrepreneurs
                                            </div>
                                            <div id="DIV_95">
                                                <p id="P_96">
                                                    <sup id="SUP_97">$</sup>49/<sub id="SUB_98">mo</sub>
                                                </p>
                                            </div>
                                            <div id="DIV_99">
                                                <div>

                                                </div>
                                            </div>
                                        </div>
                                        <div id="DIV_106">
                                        </div>
                                        <div id="DIV_107">
                                            <div id="DIV_108">
                                                PRO FEATURES
                                            </div>
                                        </div>
                                        <div id="DIV_122">
                                        </div>
                                        <div id="DIV_123">
                                            <div id="DIV_37">
                                                <p id="P_38">
                                                    No setup fees
                                                </p>
                                                <p id="P_39">
                                                    No long term contracts
                                                </p>
                                                <p id="P_40">
                                                    Change plans at any time
                                                </p>
                                                <p id="P_41">
                                                    30-day free trial
                                                </p>
                                            </div>
                                            <div id="DIV_129">
                                                <a href="@Url.Action("DispalyOrder", "Order", new { ProductHandle = "CIABCSC" })" onclick='location.href=this.getAttribute("href")' id="A_130">START MY<br id="BR_131" />30-DAY FREE TRIAL</a>
                                            </div>
                                        </div>
                                        <div id="DIV_132">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /cyber_details -->
                    </div>
                </div><!-- /price -->
            </div><!-- /tab-content -->
        </div>
</body>
</html>