@{
    ViewBag.Title = "EmailThreatPrevention";
}


<div id="sub_header">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mart_header">
                <h1>Email Threat Prevention</h1>
            </div><!-- /emailthreat_header -->
        </div>
    </div>
</div><!-- /sub_header -->

<div id="cyber_intro" class="email_header_new">
    <div class="container">
        <div class="row">
            <p style="padding-left:20px;padding-right:20px;">Organisations today face an increasing number of threats from email-based advanced threats. Organisations adopting cloud-based email services need to ensure email protection beyond SPAM and anti-virus is deployed to combat against this changing threat landscape.</p>
        </div>
    </div>
    <div class="container" style="position:absolute;bottom:-1px;width:100%">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#why">WHY?</a></li>
                    <li><a data-toggle="tab" href="#how">How It Works</a></li>
                    <li><a data-toggle="tab" href="#faq">FAQ</a></li>
                    <li><a data-toggle="tab" href="#price">Pricing</a></li>
                </ul>
            </div>
        </div>
    </div>
</div><!-- /cyber_intro -->

<div id="sub_content" class="cloud">

    <div class="tab-content">


        <div id="why" class="tab-pane fade in active">
            <div class="container">
                <div class="row cyber_details">
                    <div class="col-md-2">
                      
                    </div>

                    <div class="col-md-12">
                    </div>
                    <div class="col-md-offset-2 col-md-8">
                        <iframe width="700" height="500" src="https://www.youtube.com/embed/tjV-9ek6i7U?autoplay=1" frameborder="0" allowfullscreen></iframe>
                    </div>

                </div><!-- /cyber_details -->
            </div>
        </div><!-- /how -->
        
    

        <div id="how" class="tab-pane fade in">
            <div class="container">
                <div class="row cyber_details">
                    <div class="col-md-2">
                        <img src="~/Images/gears.jpg" alt="" class="gears">
                    </div>
                    <div class="col-md-10">
                        <h3>How It Works</h3>
                        <p>Email Threat Prevention Cloud Service integrates seamlessly with existing email mailboxes located on premise or in the cloud, ensuring real-time security against malicious emails.</p>
                        <p>Organisations simply need to route email messages to the Email Threat Prevention Cloud to start protecting themselves from email-based attacks – viruses, spam and advanced malware.</p>
                        <p>The incoming emails are analysed and quarantined by anti-spam and anti-virus engine before being sent for advanced threat analysis.</p>
                    </div>
                    <div class="col-md-12">
                    </div>
                    <div class="col-md-offset-2 col-md-8">
                        <img src="~/Images/email_threat_new.jpg" alt="" class="center-block mature">
                    </div>

                </div><!-- /cyber_details -->
            </div>
        </div><!-- /how -->
        <div id="faq" class="tab-pane fade">
            <div class="container">
                <div class="row cyber_details faq" style="margin-bottom:30px;">
                    <div class="col-md-4">
                        <img src="~/Images/qa-icon.jpg" class="pull-left m_right" />
                        <h3>Question and Answers</h3>
                    </div>
                    <div class="col-md-8">
                        <h5>1. What kind of advanced persistent threats(APT) are prevalent?</h5>
                        <p>The majority of APT attacks targeting organisations originate with targeted spear phishing emails. According to research, email attachments were the #1 threat vector to introduce malware into organisations.<sup>2</sup></p>
                    </div>
                </div><!-- /cyber_details -->
                <div class="row cyber_details faq">
                    <div class="col-md-6">
                        <h5>2. Why do we need Email Threat Prevention Cloud? </h5>
                        <p>Email Threat Prevention Cloud provides email security for organisations that are migrating to or already use cloud email services.</p>
                    </div>
                    <div class="col-md-6">
                        <h5>3. What are the scale and message volume limits for ETP Cloud?</h5>
                        <p>ETP Cloud scales dynamically based on user demand and can handle small organisations to large organisations with several hundred thousand mailboxes.</p>
                    </div>
                </div><!-- /cyber_details -->
            </div>
        </div><!-- /faq -->
        <div id="price" class="tab-pane fade">
            <div class="container">
                <div class="row cyber_details faq">
                    <div class="col-md-12">
                        <div id="DIV_1">
                            <div id="DIV_2">
                                <div id="DIV_3">
                                </div>
                                <div id="DIV_4">
                                    <div id="DIV_5">
                                        Expert
                                    </div>
                                    <div id="DIV_6">
                                        Fortune 500 Business
                                    </div>
                                    <div id="DIV_7">
                                        <p id="P_8">
                                            <sup id="SUP_9">$</sup>199/<sub id="SUB_10">mo</sub>
                                        </p>
                                    </div>
                                    <div id="DIV_11">

                                    </div>
                                </div>
                                <div id="DIV_18">
                                </div>
                                <div id="DIV_19">
                                    <div id="DIV_20">
                                        <div id="DIV_21">
                                            <p id="P_22">
                                                <strong id="STRONG_23">PRO FEATURES</strong>
                                            </p>
                                        </div>
                                        <div id="DIV_29">
                                            <p id="P_30">
                                                Client Sub-Accounts
                                            </p>
                                        </div>

                                    </div>
                                </div>
                                <div id="DIV_35">
                                </div>
                                <div id="DIV_36">
                                    <div id="DIV_37">
                                        <p id="P_38">
                                            No setup fees
                                        </p>
                                        <p id="P_39">
                                            No long term contracts
                                        </p>
                                        <p id="P_40">
                                            Change plans at any time
                                        </p>
                                        <p id="P_41">
                                            30-day free trial
                                        </p>
                                    </div>
                                    <div id="DIV_42">
                                            <a href="@Url.Action("DispalyOrder", "Order", new { ProductHandle = "CIABETP" })" onclick='location.href=this.getAttribute("href")' id="A_43">START MY<br id="BR_44" />30-DAY FREE TRIAL</a>
                                    </div>
                                </div>
                                <div id="DIV_45">
                                </div>
                            </div>
                            <div id="DIV_46">
                                <div id="DIV_47">
                                    BEST VALUE
                                </div>
                                <div id="DIV_48">
                                    <div id="DIV_49">
                                        Standard
                                    </div>
                                    <div id="DIV_50">
                                        Consultants &amp; Small Business
                                    </div>
                                    <div id="DIV_51">
                                        <p id="P_52">
                                            <sup id="SUP_53">$</sup>99/<sub id="SUB_54">mo</sub>
                                        </p>
                                    </div>
                                    <div id="DIV_55">
                                        <div>

                                        </div>
                                    </div>
                                </div>
                                <div id="DIV_62">
                                </div>
                                <div id="DIV_63">
                                    <div id="DIV_64">
                                        <div id="DIV_65">
                                            <p id="P_66">
                                                <strong id="STRONG_67">PRO FEATURES</strong>
                                            </p>
                                        </div>
                                        <div>

                                        </div>
                                        <div>

                                        </div>
                                        <div id="DIV_73">
                                            <p id="P_74">
                                                –
                                            </p>
                                        </div>
                                        <div id="DIV_75">
                                            <p id="P_76">
                                                <a href="/pricing-compare/" id="A_77"><strong id="STRONG_78">See All Features</strong></a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div id="DIV_79">
                                </div>
                                <div id="DIV_80">
                                    <div id="DIV_81">
                                        <p id="P_82">
                                            No setup fees
                                        </p>
                                        <p id="P_83">
                                            No long term contracts
                                        </p>
                                        <p id="P_84">
                                            Change plans at any time
                                        </p>
                                        <p id="P_85">
                                            30-day free trial
                                        </p>
                                    </div>
                                    <div id="DIV_86">
                                            <a href="@Url.Action("DispalyOrder", "Order", new { ProductHandle = "CIABETP" })" onclick='location.href=this.getAttribute("href")' id="A_43">START MY<br id="BR_44" />30-DAY FREE TRIAL</a>
                                    </div>
                                </div>
                                <div id="DIV_89">
                                </div>
                            </div>
                            <div id="DIV_90">
                                <div id="DIV_91">
                                </div>
                                <div id="DIV_92">
                                    <div id="DIV_93">
                                        Starter
                                    </div>
                                    <div id="DIV_94">
                                        New Business &amp; Entrepreneurs
                                    </div>
                                    <div id="DIV_95">
                                        <p id="P_96">
                                            <sup id="SUP_97">$</sup>49/<sub id="SUB_98">mo</sub>
                                        </p>
                                    </div>
                                    <div id="DIV_99">
                                        <div>

                                        </div>
                                    </div>
                                </div>
                                <div id="DIV_106">
                                </div>
                                <div id="DIV_107">
                                    <div id="DIV_108">
                                        PRO FEATURES
                                    </div>
                                </div>
                                <div id="DIV_122">
                                </div>
                                <div id="DIV_123">
                                    <div id="DIV_37">
                                        <p id="P_38">
                                            No setup fees
                                        </p>
                                        <p id="P_39">
                                            No long term contracts
                                        </p>
                                        <p id="P_40">
                                            Change plans at any time
                                        </p>
                                        <p id="P_41">
                                            30-day free trial
                                        </p>
                                    </div>
                                    <div id="DIV_129">
                                            <a href="@Url.Action("DispalyOrder", "Order", new { ProductHandle = "CIABETP" })" onclick='location.href=this.getAttribute("href")' id="A_43">START MY<br id="BR_44" />30-DAY FREE TRIAL</a>
                                    </div>
                                </div>
                                <div id="DIV_132">
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /cyber_details -->
            </div>
        </div><!-- /price -->
    </div><!-- /tab-content -->

</div>
