
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View1</title>
</head>
<body>
    <div> 


        @Html.DropDownList("ddl1", new List<SelectListItem>
{
new SelectListItem{ Text = "option1", Value= "1"},
new SelectListItem{ Text = "option2", Value= "2"},
new SelectListItem{ Text = "option3", Value= "3"}

}, "Select an Option")

    </div>
</body>
</html>
