@using Telerik.Web.Mvc.UI
@using Kendo.Mvc.UI
@model IEnumerable<CIAB.Models.UserDetail>
@{
    
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/kendo/kendo.web.min.js"></script>
<script src="~/Scripts/jszip.min.js"></script>

<div id="sub_content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="bs-example" data-example-id="striped-table" style="background:#fff;padding:40px 20px 20px 20px;">



                    @(Html.Kendo().Grid(Model).Name("UserDetailsGrid").Columns(columns =>
                    {

                        columns.Bound(p => p.FullName).Title("Full Name").HeaderHtmlAttributes(new { style = "font-size:10pt;" });
                        columns.Bound(p => p.UserName).Title("User Name").HeaderHtmlAttributes(new { style = "font-size:10pt;" });
                        columns.Bound(p => p.Email).Title("Email").HeaderHtmlAttributes(new { style = "font-size:10pt;" });
                        //columns.Bound(p => p.pass).Title("Password").Format("*****").HeaderHtmlAttributes(new { style = "font-size:10pt;" });
                        columns.Command(command => command.Edit().Text("Update")).Title("Action");
                        columns.Command(command => command.Custom("Reset Password").Click("showDetails"));
                    })

                            .ToolBar(tools => tools.Excel())
                            .Excel(excel => excel.FileName("CIAB_ListOfUsers.xlsx").AllPages(true))
                            .DataSource(dataSource => dataSource
                            .Ajax()
                            .ServerOperation(false)//No server-side postback , Do it in client side
                            .PageSize(10)
                            .Model(model => model.Id(p => p.UserId))
                            .Read(read => read.Action("UserDetails", "UserDetail"))//read and display the records
                            .Update(update => update.Action("Update", "UserDetail"))
                                //.Destroy(delete => delete.Action("Create", "UserDetail"))
                            .PageSize(10))
                            .ColumnMenu()
                            .Pageable()
                            .Sortable()
                            .Filterable()
                            .Selectable()
                            .Editable(editable => editable.Mode(Kendo.Mvc.UI.GridEditMode.InLine))
                            //.HtmlAttributes(new { style = "height:330px;" })
                            )
                </div><!-- /bs-example -->
            </div>

        </div>
    </div>
</div><!-- /sub_header -->

<script>
    //capture the click event
    function showDetails(e) {
        e.preventDefault();
        debugger;

        var pathname = window.location.host;
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));//to find the nearest <tr> for the selected cell.
        var path = "http://" + pathname + '@Url.Action("PasswordResetFromUserListingPage", "ResetPassword")';

        //Ajax call to controller action method
        $.ajax({
            url: path,
            datatype: "json",
            data: { 'Email': dataItem.Email, 'UserName': dataItem.UserName},
            type: "GET",
            success: function (data) {
                alert('Successfully sent email to the User.');
            },
            error: function () {
                alert("ERROR");
            }
        });
    }
</script>



<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
</script>

