/** 01. Global Styling
*************************************************** **/
html,body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    width: 100%;
    color: #434343;
}
a {
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
}
a:hover,a:focus,a:active {
    text-decoration: none;
    color: inherit;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
}
img {
    max-width: 100%;
    height: auto;
}
h1,h2,h3,h4{
    font-family: inherit;
}
h4 {
    font-size: 17px;
    letter-spacing: 1px;
}
h5,h6{

}
section {
   /* display: table;
    height: 100%;
    width: 100%;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: #fff; */
    height: 90%;
}
/** ************************************* **/
/** 02. Headers
*************************************************** **/
section#hero {
    background: url("../Images/kpmg-homebanner.png")no-repeat center center scroll; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 15%;
    /* margin-top:-44px; */
}

body.v2 section#hero {
    padding-top: 13%;
}
#menu-icon {
    width: 65px;
    height: 70px;
    padding: 24px 12px 12px 15px;
    border: 1px solid #fff;
    position: relative;
}
.patty {
    width: 32px;
    height: 4px;
    margin: 0px 0;
    background: #fff;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    position: relative;
}
.patty:before {
    content: '';
    display: block;
    width: 32px;
    height: 4px;
    top: 9px;
    background: #fff;
    position: absolute;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.patty:after {
    content: '';
    display: block;
    width: 32px;
    height: 4px;
    top: 18px;
    background: #fff;
    position: absolute;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.welcome-text {
    color: #fff;
    padding-left: 0;
}
.welcome-text h1 {
    font-size: 60px;
    color: #fff;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
}
.welcome-btn a{
    margin: 0px 25px;
}
.welcome-btn {
    margin-top: 30px;
}

.welcome-text p {
    text-align: left;
    font-size: 18px;
    letter-spacing: .8px;
    color: #d6eaf2;
    margin-top: 20px;
}

.welcome-text h3 {
    font-size: 30px;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 5px;
    color: #b6e5ff;
    font-weight: bold;
}
/** Menu **/
.navbar-default {
    background-color: #fff;
    border-color: #e9e9e9;
    -webkit-box-shadow: 0 6px 6px -6px #e9e9e9;
    -moz-box-shadow: 0 6px 6px -6px #e9e9e9;
    box-shadow: 0 6px 6px -6px #e9e9e9;
    padding: 13px 0px;
}
.navbar-brand>img {
    display: inline-block;
    margin-left: 20px;
}
.navbar-default .navbar-nav>li>a {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #434343;
}
@media (min-width: 768px){
    .navbar-nav>li>a {
        padding-top: 2px;
        padding-bottom: 2px;
    }
    .navbar-nav>li {
        padding: 15px 10px;
    }
}
.navbar-default .navbar-nav>.active>a:focus,.navbar-default .navbar-nav>li>a:hover {
    background: none;
}
.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover {
    background: none;
    color: #2c2c2c;
    -webkit-box-shadow: 0px 1px 0px 0px #2c2c2c;
    -moz-box-shadow: 0px 1px 0px 0px #2c2c2c;
    box-shadow: 0px 1px 0px 0px #2c2c2c;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #2c2c2c;
    background-color: transparent;
    -webkit-box-shadow: 0px 1px 0px 0px #2c2c2c;
    -moz-box-shadow: 0px 1px 0px 0px #2c2c2c;
    box-shadow: 0px 1px 0px 0px #2c2c2c;
}
.nav>li>a {
    padding-left: 2px;
    padding-right: 2px;
    letter-spacing: 2px;
}
/** DropDown **/
.navbar-nav ul {
    border: none;
    padding: 0px 0;
    box-shadow: none;
    border-top: 0px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    margin: 0px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #fff;
    background-clip: padding-box;
}
.navbar-nav ul>li {
    background: #434343;
    padding: 5px 0px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.navbar-nav ul>li:hover {
    background: #737373;
}
.navbar-nav ul>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;
    text-transform: capitalize;
    color: #fff;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
}
.navbar-nav li:hover > ul {
    display: block;
}
/** ************************************* **/
/** 03. General Styling
*************************************************** **/
/** Theme Purposes **/
.purposes {
    float: left;
    width: 100%;
    text-align: center;
    padding: 22px 0px 10px 0px;
    cursor: crosshair;
}
.purposes .fa {
    color: #575757;
    font-size: 40px;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.purposes:hover .fa {
    margin-top: -5px;
    margin-bottom: 5px;
    color: #f03a6e;
}
.moustach {
    background: url("../Images/elements/moustach.png") no-repeat center;
    width: 100px;
    height: 40px;
    display: inline-block;
}
.purposes p {
    font-size: 13px;
    color: #5e5e5e;
}
.shadow-border {
    -webkit-box-shadow: -1px 1px 0px 0px #f3f3f3;
    -moz-box-shadow: -1px 1px 0px 0px #f3f3f3;
    box-shadow: -1px 1px 0px 0px #f3f3f3;
}
.shadow-border.border-left-0 {
    -webkit-box-shadow: 0px 1px 0px 0px #f3f3f3;
    -moz-box-shadow: 0px 1px 0px 0px #f3f3f3;
    box-shadow: 0px 1px 0px 0px #f3f3f3;
}
.shadow-border.border-bottom-0 {
    -webkit-box-shadow: -1px 0px 0px 0px #f3f3f3;
    -moz-box-shadow: -1px 0px 0px 0px #f3f3f3;
    box-shadow: -1px 0px 0px 0px #f3f3f3;
}
.shadow-border.border-left-0.border-bottom-0 {
    -webkit-box-shadow: 0px 0px 0px 0px #f3f3f3;
    -moz-box-shadow: 0px 0px 0px 0px #f3f3f3;
    box-shadow: 0px 0px 0px 0px #f3f3f3;
}
.theme-purpose-1 {

}
.theme-purpose-2 {

}
.theme-purpose-3 {

}
.theme-purpose-4 {

}
/** Theme Features **/
.title-style1 {
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 45px;
}
.title-style1:before {
    content: '';
    background: #e2e2e2;
    height: 2px;
    width: 100%;
    top: 50%;
    position: absolute;
    left: 0px;
}
.title-style1 h1 {
   display: inline-block;
    font-size: 38px;
    font-weight: 700;
    padding: 0px 40px;
    color: #000;
    text-transform: uppercase;
    margin: 0px;
    position: relative;
    z-index: 9;
}
.title-style1 h1:before {
    content: '';
    background: #000;
    height: 1px;
    width: 50px;
    top: 60px;
    position: absolute;
    left: 45%;
}
.feature-call {
    font-size: 13px;
    font-style: italic;
    color: #4f4f4f;
    font-weight: 600;
    padding: 8px 30px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -o-border-radius: 30px;
    border: 2px solid #434343;
}
.feature-list {
    float: left;
    width: 100%;
    position: relative;
    margin-bottom: 40px;
    cursor: crosshair;
}
.feature-list:hover .fa{
    padding-top: 5px;
    color: #f03a6e;
}
.feature-icon {
    position: absolute;
    left: 0px;
    height: 100%;
}
.feature-icon .fa {
    color: #434343;
    font-size: 27px;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.feature-desc {
    padding-left: 40px;
    float: left;
}
.feature-desc h5 {
    font-weight: 700;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 0px;
    color: #434343;
}
.feature-desc p {
    font-size: 12px;
    color: #888888;
}
/** Services **/
section#services {
    background-image: url("../Images/services.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 0;
}
.title-style2 {
    float: left;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
}
.title-style2 h1 {
    display: inline-block;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    margin-top: 0px;
}
.title-style2 h1:before {
    content: '';
    width: 100%;
    height: 20px;
    background: url("../Images/elements/moustach-white.png") no-repeat center;
    display: inline-block;
}
.services {
    float: left;
    width: 100%;
    border: 15px solid #fff;
    padding: 35px;
    text-align: center;
    position: relative;
    min-height: 270px;
    color: #fff;
}
.services h2 {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0px;
    letter-spacing: 1px;
    position: relative;
    margin-bottom: 25px;
}
.services h2:after {
    content: '';
    width: 30px;
    height: 1px;
    display: inline-block;
    background: #fff;
    position: absolute;
    bottom: -15px;
    left: 43%;
}
.service-btn {
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    padding: 9px 25px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -o-border-radius: 30px;
    margin-top: 15px;
    text-decoration: none;
    letter-spacing: 1px;
    border: 2px solid #fff;
}
.service-btn:hover {
    background: #f03a6e;
    text-decoration: none;
    color: #fff;
    border-color: #f03a6e;
}
.s-counter {
    float: left;
    width: 100%;
    text-align: center;
}
.s-number {
    display: inline-block;
    border: 1px solid #fff;
    border-top: 0px;
    font-size: 25px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 5px 5px;
    padding: 12px 10px;
}
/** About & Team **/
.about-us {
    float: none;
    width: 100%;
    padding: 0px 0px 40px 0px;
    text-align: center;
    max-width: 750px;
    margin: 0 auto;
}
.title-style3 {
    float: left;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
}
.title-style3 h1 {
    display: inline-block;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    margin-top: 0px;
    padding-top: 15px;
}
.title-style3 h1:before {
    content: '';
    width: 50px;
    height: 2px;
    display: inline-block;
    position: absolute;
    margin: 0 auto;
    left: 35%;
    top: 0px;
}
.title-style3.left-43 h1:before {
    left: 41%;
}
.title-style3 h1.color-white:before {
    background: #fff;
}
.title-style3 h1.color-dark-grey:before {
    background: #434343;
}
#about .container {
    background: url("../Images/elements/watermark.png") no-repeat right center;
}
.war {
    font-size: 22px;
    font-weight: 700;
    color: #8e521e;
    padding: 8px 25px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -o-border-radius: 30px;
    position: relative;
    border: 1px solid #8e521e;
    margin: 0 auto;
}
.war:hover {
    color: #fff;
    border-color: #fff;
}
.war span {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -22px;
}
.war .fa {
    background: #ffd800;
    font-size: 31px;
}
.dblock {
    display: inline-block;
    letter-spacing: 1px;
}
.dblock span {
    font-weight: 300;
}
.about-social a {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: #fff;
    background: #bababa;
    display: inline-block;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0px 5px;
}
.about-social {
    margin-bottom: 25px;
}
.about-social a:hover {
    background: #f03a6e;
}
.social-white-bg {
    float: left;
    width: 100%;
    background: #fff;
    padding: 80px 0px;
    margin-bottom: 0px;
}
.white-border {
    height: 3px;
    width: 50px;
    background: #fff;
    display: inline-block;
}
.team-list {
    list-style: none;
    padding-left: 0px;
    float: left;
    width: 100%;
}
.team-list li {
    float: left;
    width: 100%;
}
.team-list li:hover .team-img:before {
    top: 50px;
}
.team-img {
    float: left;
    width: 100%;
    position: relative;
}
.team-img:after {
    content: '';
    width: 40px;
    height: 4px;
    bottom: -25px;
    left: 0px;
    position: absolute;
    z-index: 9;
    background: #626262;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.team-list li.right .team-img:before {
    right: -20px;
    left: auto;
}
.team-info {
    float: left;
    width: 100%;
    text-align: center;
    padding-top: 30px;
}
.team-list li.right .team-info{
    text-align: left;
    padding-right: 0px;
    padding-left: 20px;
}
.team-info h4 span {
    font-size: 29px;
    width: 100%;
    display: inline-block;
}
.team-info h4 {
    color: #626262;
    letter-spacing: 2px;
    line-height: 29px;
}
span.designation {
    font-size: 16px;
    color: #777777;
    font-style: italic;
}
/** News **/
.title-style4 {
    float: left;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
}
.title-style4 h1 {
    display: inline-block;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    margin-top: 0px;
}
.title-style4 span {
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
    display: inline-block;
}
.news-box {
    float: left;
    width: 100%;
    position: relative;
}
.news-box .img-holder {
    float: left;
    width: 100%;
    position: relative;
}
.news-box .img-holder img {
    width: 100%;
    margin-bottom: 5px;
}
.news-box .img-holder .overlay {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    opacity: 0;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.news-box:hover .overlay {
    opacity: 1;
}
.news-box:hover .news-meta h3,.news-box:hover .news-meta h3 > a {
    color: #f03a6e;
}
.news-meta {
    color: #434343;
}
.news-date {
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
}
.news-meta h3,.news-meta h3 > a {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 5px;
    color: #434343;
    margin-bottom: 5px;
}
.news-box p {
    font-weight: 300;
    color: #5d5d5d;
}
/** Portfolio **/
.port .img-holder {
    position: relative;
}
.port .overlay h5 {
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.port .overlay{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 15%;
    background: #fff;
    color: #434343;
    padding: 15px 20px;
    text-align: center;
    opacity: 0;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}
.port .overlay .white-border {
    width: 80px;
    height: 1px;
    margin: 25px 0px;
    background: #ececec;
}
.port:hover .overlay {
    opacity: 1;
}
a.expand .fa,a.expand .fa:focus,a.expand .fa:active {
    font-size: 31px;
    color: #434343;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
}
div.dark_square .pp_left, div.dark_square .pp_middle, div.dark_square .pp_right, div.dark_square .pp_content {
    background: #434343 !important;
}
div.pp_nav { margin: 3px 60px 0 0 !important;
}
div.pp_social { margin-top: 3px !important;
}
div.pp_nav p {margin: 1px 15px !important;
}
div.pp_overlay {
    background: #fff !important;
}
.visibleFilter {
    min-height: 570px;
}
/** Counter **/
.counter {
    float: left;
    width: 100%;
}
.counter h4 {
    position: relative;
}
.counter h4:after {
    content: '';
    width: 85px;
    height: 1px;
    background: #000;
    display: inline-block;
    position: absolute;
    bottom: -10px;
    left: 0px;
}
#counter {
    font-size: 219px;
    font-weight: 700;
    color: #434343;
    line-height: 215px;
}
.animated-bars {
    float: left;
    width: 100%;
}
/** Clients **/
section#clients {
    background-image: url("../Images/clients.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-color: #73421A;
}
.clients-logos {
    text-align: center;
}
.test-desc {
    float: left;
    width: 100%;
}
.test-desc .lft {
    float: left;
    width: 25%;
}
.test-desc .lft .img-holder img {
    width: 75px;
    height: 75px;
    float: left;
}
.test-desc .lft .img-holder:after {
    content: '';
    width: 30px;
    height: 2px;
    background: #fff;
    float: left;
    margin-top: 0px;
    margin-left: 10px;
}
.test-desc .rgt {
    float: left;
    width: 75%;
    color: #fff;
}
.test-desc .rgt p {
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
}
.test-desc .rgt p.test-name {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.test-desc .rgt p.test-designation {
    font-size: 14px;
    font-style: italic;
}
.testimonial-holder {
    float: left;
    width: 100%;
}
#owl-testimonials {
    margin-top: 35px;
    padding-top: 75px;
}
#owl-testimonials .owl-controls {
    position: absolute;
    width: 100%;
    top: 0px;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
    background: #ff729a !important;
}
.owl-theme .owl-controls .owl-page span {
    background: #fff !important;
}
.tc-count {
    float: left;
    position: relative;
    color: #fff;
    text-align: center;
    width: 100%;
    margin-top: 75px;
}
.tc-count span#tc-count {
    font-size: 113px;
    font-weight: 700;
    width: 170px;
    height: 65px;
    text-align: center;
    position: relative;
}
.tc-count span#tc-count small {
    position: absolute;
    left: 30px;
    top: -20px;
}
.tc-count h1 {
    position: relative;
    display: inline-block;
    line-height: 12px;
}
.tc-count span {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    margin-top: -30px;
}
.tc-count .holder {
    width: 40%;
    display: inline-block;
    text-align: center;
}
.tc-count .holder:before {
    content: '';
    background: #fff;
    height: 2px;
    width: 30%;
    position: absolute;
    top: 50%;
    left: 0px;
}
.tc-count .holder:after {
    content: '';
    background: #fff;
    height: 2px;
    width: 30%;
    position: absolute;
    top: 50%;
    right: 0px;
}
/** Blog **/
.big-blog {
    float: left;
    width: 100%;
    padding: 75px;
    position: relative;
    color: #fff;
}
.blog_bg {
    background-repeat: no-repeat;
    background-position: 50% 0 !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}
.big-blog .overlay {
    background: rgba(32, 32, 32, 0.70);
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    left: 0px;
}
.b-desc {
    float: left;
    width: 100%;
    position: relative;
    z-index: 9;
}
.b-author img {
    width: 50px;
    height: 50px;
    clear: both;
    margin-bottom: 10px;
}
.b-author p {
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 11px;
    letter-spacing: 1px;
}
.big-blog h1 {
    font-size: 49px;
    letter-spacing: 1px;
    font-weight: 700;
}
.big-blog h1,.big-blog h1 a {
    color: #e4e4e4;
}
.blog_bg:hover h1,.blog_bg:hover h1 a {
    color: #fff;
}
.big-blog .btn {
    padding: 10px 30px;
    color: #fff;
    font-size: 11px;
}
.blog-list{
    float: left;
    width: 100%;
}
.blog-list h2:hover {
    color: #f03a6e;
}
.bl-title {
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.blog-list h2 {
    font-size: 20px;
    color: #434343;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 15px;
    line-height: 20px;
}
.blog-list p {
    font-size: 13px;
    color: #797979;
    margin-top: 0px;
    font-style: italic;
}
.black-spacer {
    width: 75px;
    height: 1px;
    background: #434343;
    margin: 30px 0px;
    display: inline-block;
}
.blog_bg:hover .overlay {
    background: rgba(32, 32, 32, 0.90);
}
/** Purchase Info **/
.purchase-info {
    float: left;
    width: 100%;
    color: #434343;
}
.purchase-info h1 {
    font-size: 78px;
    line-height: 78px;
    font-weight: 700;
    letter-spacing: -8px;
    margin-top: 0px;
    color: #434343;
}
.purchase-img {
    float: left;
    width: 100%;
}
.btn.color-white {
    color: #fff;
}
/** Contact Us **/
section#contact {
    padding-bottom: 0px;
}
.contact-love {
    float: left;
    width: 100%;
}
.contact-love .fa {
    font-size: 38px;
    color: #fff;
}
.contact-love h1 {
    font-size: 38px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 35px;
    margin-top: 5px;
}
.contact-form {
    float: left;
    width: 100%;
    text-align: center;
}
.contact-form input {
    background: none;
    border: 5px solid #fff;
    color: #fff;
    text-align: center;
    font-size: 15px;
    padding: 10px 5px;
    margin-bottom: 20px;
    outline: none;
}
.contact-form input:first-of-type {
    width: 47%;
    float: left;
    margin-right: 3%;

}
.contact-form input:nth-of-type(2) {
    width: 47%;
    float: left;
    margin-left: 3%;
}
.contact-form ::-webkit-input-placeholder {
    color:#fff;
}
.contact-form ::-moz-placeholder {
    color:#fff;
}
.contact-form :-ms-input-placeholder {
    color:#fff;
}
.contact-form input:-moz-placeholder {
    color:#fff;
}
.contact-form textarea {
    height: 125px;
    width: 100%;
    border: 0px;
    outline: none;
    color: #000;
    padding: 10px;
}
.contact-form input[type="submit"] {
    padding: 15px 20px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 700;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -o-border-radius: 30px;
    border: 2px solid #fff;
    background: none;
    border-color: #fff;
    color: #fff;
    letter-spacing: 5px;
    margin-top: 20px;
}
.contact-form input[type="submit"]:hover {
    background: #f03a6e;
    color: #fff;
    border-color: #f03a6e;
}
.contact-info {
    float: left;
    width: 100%;
    color: #fff;
    padding-left: 50px;
}
.contact-info ul {
    padding-left: 0px;
    list-style: none;
}
.contact-info ul li {
    margin-bottom: 15px;
}
.contact-info .fa {
    font-size: 28px;
    margin-right: 25px;
}
.contact-info a.email {
    color: #fff;
    font-size: 15px;
    text-decoration: underline;
    font-weight: 300;
    display: inline-block;
    margin-left: 45px;
}
#map {
    height: 335px;
    margin-top: 55px;
}
/** Footer **/
.footer {
    color: #626262;
    height: auto;
    background: #fcfcfc;
    padding-bottom: 0px;
}
.footer-widget {
    float: left;
    width: 100%;
}
.widget-1 .img-holder {
    float: left;
    width: 100%;
    text-align: left;
}
.desc {
    font-style: italic;
    position: relative;
    float: left;
    width: 100%;
    margin-top: 25px;
    padding-top: 30px;
}
.widget-1 .desc:before {
    content: '';
    display: inline-block;
    width: 50px;
    height: 1px;
    position: absolute;
    left: 0px;
    top: 10px;
    background: #626262;
}
.copyright {
    float: left;
    width: 100%;
    text-align: center;
    border-top: 1px solid #e1e1e1;
    padding: 35px 0px;
    margin-top: 29px;
}
.copyright p {
    font-size: 13px;
    color: #a2a2a2;
}
.newsletter input[type="email"] {
    font-size: 15px;
    color: #606060;
    font-weight: 600;
    padding: 8px 30px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -o-border-radius: 30px;
    border: 1px solid #606060;
    background: none;
    width: 60%;
    margin-bottom: 10px;
    outline: none;
}
.newsletter input[type="submit"] {
    font-size: 14px;
    color: #434343;
    font-weight: 700;
    padding: 8px 5px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -o-border-radius: 30px;
    border: 2px solid #434343;
    background: none;
    margin-bottom: 10px;
    outline: none;
    width: 30%;
    text-align: center;
    text-transform: uppercase;
}
.newsletter input[type="submit"]:hover {
    background: #f03a6e;
    border-color: #f03a6e;
    color: #fff;
}
.newsletter ::-webkit-input-placeholder {
    color: #606060;
}
.newsletter ::-moz-placeholder {
    color: #606060;
}
.newsletter :-ms-input-placeholder {
    color: #606060;
}
.newsletter input:-moz-placeholder {
    color: #606060;
}
.footer-social a {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    color: #fff;
    background: #bababa;
    display: inline-block;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0px 5px;
    text-align: center;
}
.footer-social a:hover {
    color: #fff;
    background: #f03a6e;
}
.footer-widget ul {
    list-style: none;
}
.footer-widget ul li {
    margin-bottom: 10px;
}
.footer-widget ul li a:hover {
    border-color: #464646;
}
.footer-widget ul li a {
    color: #464646;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -o-border-radius: 30px;
    border: 2px solid transparent;
    display: inline-block;
    padding: 5px 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
}
.footer-widget ul li:last-child{
    margin-bottom: 0px;
}
span.font-20 {
    font-size: 20px;
}
/** News List Page **/
.news-box {
    margin-bottom: 40px;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    color: #fff;
    background-color: #f03a6e;
    border-color: #f03a6e;
}
.pagination>li>a, .pagination>li>span {
    color: #434343;
    background-color: #f7f7f7;
    border: 1px solid #f7f7f7;
    font-size: 17px;
    font-weight: 700;
    margin: 0px 8px;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
    background: none;
    border: 0px;
    margin-right: 50px;
    border-radius: 0px;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
    background: none;
    border: 0px;
    margin-left: 50px;
    border-radius: 0px;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    color: #fff;
    background-color: #f03a6e;
    border-color: #f03a6e;
}
.color-black a {
    color: #000;
}
.color-white a {
    color: #fff;
}
.color-dark-grey a {
    color: #434343;
}
.n-single {
    float: left;
    width: 100%;
}
blockquote {
    border-left: 0px;
    position: relative;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #404040;
    padding-left: 30px;
    padding-top: 0px;
}
blockquote p {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #404040;
}
.n-single blockquote p {
    font-size: 12px;
}
blockquote:before {
    content: '';
    background: #606060;
    width: 20px;
    height: 2px;
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 5px;
}
.n-single p {
    font-size: 15px;
}
ul.square li {
    list-style: square;
    margin-bottom: 10px;
}
ul.square {
    padding-left: 15px;
}
.social-share {
    float: left;
    width: 100%;
}
.social-share a {
    display: inline-block;
    background: #ccc;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 0px 1px;
    color: #fff;
    font-size: 21px;
}
.social-share a.facebook {
    background: #005794;
}
.social-share a.twitter {
    background: #00a9d4;
}
.social-share a.email {
    background: #688b8e;
}
.social-share a.linkedin {
    background: #ff694a;
}
.social-share a.pinerest {
    background: #e92323;
}
.social-share a:nth-of-type(odd):hover {
    -webkit-transform: translateY(-7px) scale(0.9);
    -moz-transform: translateY(-7px) scale(0.9);
    -ms-transform: translateY(-7px) scale(0.9);
    transform: translateY(-7px) scale(0.9);
}
.social-share a:nth-of-type(even):hover {
    -webkit-transform: translateY(7px) scale(0.9);
    -moz-transform: translateY(7px) scale(0.9);
    -ms-transform: translateY(7px) scale(0.9);
    transform: translateY(7px) scale(0.9);
}
.related-news {
    float: left;
    width: 100%;
}
/** Blog Page **/
.blog-list.background {
    background: #f9f9f9;
    padding: 20px;
    margin-bottom: 25px;
}
.big-blog2 {
    float: left;
    width: 100%;
}
.big-blog2 .lft {
    width: 60%;
    float: left;
}
.big-blog2 .rgt {
    width: 40%;
    float: left;
}
.big-blog2 .big-blog {
    padding: 25px;
    padding-bottom: 30px;
}
.big-blog2 .big-blog .overlay {
    background: #515151;
}
blockquote.style2 {
    font-size: 18px;
    font-style: italic;
    text-transform: none;
    font-weight: 400;
    text-align: justify;
    padding: 0px 75px;
    margin: 75px 0px;
}
blockquote.style2 p {
    font-size: 18px;
    font-style: italic;
    text-transform: none;
    font-weight: 400;
    text-align: justify;
}
blockquote.style2:before {
    content: "\f10d";
    font-family: FontAwesome;
    background: none;
    font-size: 28px;
    top: 0px;
}
blockquote.style2:after {
    content: "\f10e";
    font-family: FontAwesome;
    width: 20px;
    height: 2px;
    display: inline-block;
    position: absolute;
    right: 0px;
    bottom: 0px;
    font-size: 28px;
}
.related-posts {
    float: left;
    width: 100%;
}
.feature-img {
    float: left;
    width: 100%;
    position: relative;
}
.feature-img .overlay {
    position: absolute;
    bottom: 50px;
    width: 100%;
    left: 0px;
    text-align: center;
    color: #fff;
}
/** Style Page **/
.spacer-1 {
    float: left;
    width: 100%;
    background: #5e5e5e;
    height: 3px;
    margin: 10px 0px;
}
.spacer-2 {
    float: left;
    width: 100%;
    background: #5e5e5e;
    height: 2px;
    margin: 10px 0px;
}
.spacer-3 {
    float: left;
    width: 100%;
    background: #5e5e5e;
    height: 1px;
    margin: 10px 0px;
}
.spacer-4 {
    float: left;
    width: 100%;
    background: url("../Images/elements/separator.png") repeat-x center;
    height: 20px;
    margin: 15px 0px;
}
.service-btn.active {
    background: #ffde00;
    text-decoration: none;
    color: #582f3f;
}
.btn.btn-fill-yellow {
    background: #ffde00;
    border-color: #ffde00;
    color: #73421a;
}
.news-box.nb2 .overlay {
    opacity: 1;
}
.news-box.nb2 .news-meta h3, .news-box.nb2 .news-meta h3 > a,.blog-list.bl2 h2 {
    color: #ac7d79;
}
.n-single iframe {
    width: 100% !important;
}
/** Twitter Section **/
.twitter-desc {
    float: left;
    width: 100%;
    color: #bababa;
    position: relative;
    min-height: 75px;
    padding-left: 100px;
    border-right: 1px solid #f2f2f2;
}
.twitter-desc .t-bird {
    font-size: 75px;
    position: absolute;
    left: 0px;
}
.twitter-desc a.t-bird {
    color: #bababa;
}
section#twitter {
    padding: 50px 0px;
}
.twitter-reply {
    float: left;
    width: 100%;
    min-height: 100px;
    border-right: 1px solid #f2f2f2;
    text-align: center;
    padding-top: 40px;
}
.twitter-reply a {
    color: #434343;
    padding: 0px 15px;
}
.t-dot {
    float: left;
    width: 100%;
    padding-top: 20px;
}
.t-dot ul {
    float: right;
}
.t-dot ul li a {
    width: 11px;
    height: 11px;
    display: inline-block;
    background: #bababa;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
}
.t-dot ul li {
    list-style: none;
    margin-bottom: 5px;
}
.t-dot ul li.active a {
    background: #f03a6e;
}