@import url(http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext);

html,
body {
    font-family: 'Lato', sans-serif;
}

p {
    font-size: 15px;
    line-height: 22px;
}

h3 {
    font-size: 30px;
    font-weight: normal;
    color: #1a446a;
}

h3 span {
    font-weight: bold;
}

.logo img {
    margin-top: 5px;
}

body.v2 .logo {
    margin-bottom: 30px;
}

body.v2 .logo img {
    margin-top: 0;
}

.single .logo img {
    margin-top: 10px;
}

.top-nav a {
    color: #000;
}

.top-nav li {
    cursor: pointer;
}

.top-nav li a:hover {
    background: none !important;
    text-decoration: underline;
}

.top-nav #navbar li {
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.top-nav #navbar li:first-child {
    margin-left: 0;
}

.top-nav #navbar ul li ul li:first-child {
    margin-left: inherit;
}

.top-nav #navbar li:last-child {
    padding-right: 0;
}

.navbar-static-top-main {
    background: #225370;
    color: #fff;
    padding: 20px 0;
    margin-bottom: 0;
}

.navbar-static-top-main #navbar li {
    margin-top: 10px; 
}

.navbar-static-top-main #navbar li a{
    color: #fff;
}

.navbar-default .navbar-nav>li>a {
    font-size: 15px;
}

.main_menu li {
    padding-right: 50px;
}

.main_menu li a:hover {
    color: #c1e0eb !important;
}


#home_about {
    padding: 80px 0;
}

.modal-content.sign_popup {
    background: #cee5ee;
    border: none;
}

.modal-content.sign_popup .modal-header {
    background: #1a446a;
    color: #fff;
}

.modal-content.sign_popup .modal-header .close {
    color: #cee5ee;
}

.modal-content.sign_popup .modal-header h4 {
    font-size: 22px;
    letter-spacing: 0;
    padding-left: 30px;
}

.modal-content.sign_popup label {
    font-size: 16px;
    color: #163957;
}

.modal-content.sign_popup input {
    padding: 20px 10px;
    color: #000;
}

.modal-content.sign_popup .form-group {
    margin-bottom: 20px;
}

.modal-content.sign_popup small {
    color: #4476a1;
    font-size: 13px;
}

.modal-content.sign_popup small.reg_acc {
    text-align: center;
    display: block;
    margin-top: 10px;
}
.modal-content.sign_popup small.reg_acc a {
    color: #163957;
}

.modal-content.sign_popup small.reg_acc a:hover {
    text-decoration: underline;
}

.modal-content.sign_popup button.btn-success,
.login_right button.btn-success {
    background: #006f10;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    border-bottom: 5px solid #004b0b;
}

button:hover {
    opacity: .8;
}

#cybermart_slider {
    overflow: hidden;
    background: url(../Images/cybermart-homebg.jpg) center top no-repeat #c1e0eb;
    padding: 60px 0 60px 0;
    text-align: center;
}

#cybermart_slider {
    position: relative;
}

#cybermart_slider a.btn-cta {
    position: absolute;
    top:10px;
    right: 100px;
}

#testimoni {
    padding: 80px 0;
}

#testimoni .bx-wrapper .bx-viewport {
    box-shadow: none;
}

#testimoni h3 {
    text-align: center;
    margin-bottom: 40px;
}

.test-img {
    margin-left: 40px;
}

p.testi_content {
    font-family: georgia;
    font-style: italic;
    font-size:15px;
    line-height: 25px;
}

p.testi_content span {
    font-family: 'Lato', sans-serif;
    display: block;
    font-style: normal;
}

#sub_content {
    background: #d6eaf2;
    padding: 60px 0;
    overflow: visible;
}

#sub_content.cloud {
     background: url(../Images/cloud.jpg) top repeat-x #d5f1f7; 
}

#cyber_intro .nav-tabs {
    z-index: 9999;

}

#cyber_intro .nav-tabs>li {
    width: 100%;
    max-width: 33%;
}

#cyber_intro .nav-tabs>li>a {
    background: #2d82c3;
    color: #fff;
    padding: 15px 40px;
    text-transform: uppercase;
    margin: 0px 10px;
    letter-spacing: 0px;

}

#cyber_intro .nav-tabs>li.active>a,
#cyber_intro .nav-tabs>li.active>a:focus,
#cyber_intro .nav-tabs>li.active>a:hover {
    background: #d5f1f7;
    color: #000;
    font-size: 14px;
    letter-spacing: -0.1px

}

.mature {
    padding-top: 60px;
    padding-bottom: 60px;
}

.screenie {
    background: #1e4c6d;
    padding: 30px 0;
    margin:30px 0 80px 0;
}



.list_thumb {
    background: #163c66;
    height: 200px;
    padding-top: 40px;
}

.cyber_item {
    background: #fff;
    padding: 10px 15px 30px 15px;
    text-align: center;
}

.cyber_item h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.cyber_item h3:hover {
    text-decoration: underline;
}

.cyber_item p {
    margin-bottom: 20px;
}

.cyber_item .btn-primary {
    background: #9ac2de;
    color: #fff;
    border: none;
    text-transform: uppercase;
    padding-top:10px; padding-bottom:10px;
}

.cyber_item .btn-primary:hover {
    background: #133461;
}

span.purple {
    display: block;
    font-size: 23px;
    color: #d22f6b;
    font-weight: bold;
}

span.g_price {
    display: block;
    font-size: 23px;
    color: #00954f;
    font-weight: bold;
}

span.ext_price {
    font-size: 13px;
}

#sub_header {
    height: 150px;
    margin-top: 50px;
}

#sub_header.single_page {
   /* margin: 0; */
}

.single #sub_header {
    height: 135px;
}

.single #sub_header h1 {
    font-size: 30px;
    margin: 0;
    padding-bottom: 0;
    line-height: inherit;
    padding-top: 25px;
    color: #444 !important;
}

.mart_header h1 {
    color: #444444;
}


.single #sub_header h3 {
    font-size: 20px;
    margin: 0; padding:0;
}

.about #sub_header {
}

.about #sub_header h1 {
}

.about #sub_header p {
    padding: 0; margin: 0;
}

#about_top {
    /* background: url(../Images/circuit-repeat-ng.jpg) repeat; */
    background: #D6EAF2;
    color: #444;
    padding: 80px 0;
}

#about_top img {
}

#about_top h5 {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
}

#about_top h3 {
    text-align: center;
    color: #444;
    font-size: 34px;
}

.about_header {
    padding: 60px 0;
}

.about_header.admin_header {
    padding: 0;  margin: 0;
}

.top-nav #navbar li.flag {
    background: url(../Images/sing_flag.png) center left no-repeat;
    padding-left: 30px;
}

.confirm_box {
    background: #fff;
    padding:20px 40px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; /* future proofing */
    -khtml-border-radius: 5px; /* for old Konqueror browsers */
    margin-bottom: 30px;
}

.confirm_box .table>tbody>tr>td {
    border:none;
    font-size: 15px;
}

.confirm_box h3 {
    font-size: 20px;
    color: #444444;
}

.confirm_box i {
    color: #d0dfe6;
}

.confirm_box h3 span {
    display: block;
    font-size: 14px;
    font-weight: normal;
    margin-left: 38px;
    line-height: 30px;
}

.confirm_head {
    border-bottom: 1px dotted #d0dfe6;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

h3.confirm_title {
    font-size: 23px;
    color: #242424;
    font-weight: bold;
    margin:0 0 30px 0;
}

.search_bar {
    padding: 0 0 30px 0;
}

.search-top {
    padding-top: 5px;
}

.search-top input {
    background: #e4e4e4;
}

.search-top img {
    margin-right: 30px;
    height: 40px;
}

.logo img {
    height: 40px;
}

.search-top .btn {
}

.search_bar input,
.search_bar select,
.search_bar .search_btn {
    padding: 20px 30px;
    border: none;
    margin-left: 20px;
}

.search_bar .search_btn {
    background: #9abfcf;
    color: #fff;
    padding: 10px 30px;
    margin-left: 20px;
}

#sub_header h1 {
    line-height: 120px;
    font-size: 40px;
    font-weight: bold;
}

.cyber_header {
    background: url(~/Images/header_cybersecurity.jpg) right center no-repeat;
}

.defacement_header {
    background: url(~/Images/header_defacement.jpg) right top no-repeat;
}

.vulnerability_header {
    background: url(~/Images/header_vulnerability.jpg) right bottom no-repeat;
}

.emailthreat_header {
    background: url(~/Images/header_emailtreat.jpg) right top no-repeat;
}

.mart_header,
.about_header.admin_header  {
    background: url(/Images/cybermart-bg.jpg) right top no-repeat; 
}


.mart_header {
    position: relative;
}

.mart_header a {
    position: absolute;
    top:50px;
    right: 0px;

}


.confirm_header {
    padding: 0 0 46px 0; margin: 0;
    background: url(/Images/header_confirm.jpg) right center no-repeat;
}


#cyber_intro {
    background: url(/Images/globe-bg.jpg) center bottom no-repeat #1e4c6d;
    text-align: center;
    color: #fff;
    padding: 60px 0 250px 0;
    position: relative;
}

#cyber_intro p {
    font-size: 16px;
    width: 70%;
    display: block;
    margin: 0 auto;
}

#cyber_intro.cyber_text p {
    width: 50%;
}

.cyber_details .gears {
   margin-right: 20px;
}

.cyber_details h3 {
    font-size: 36px;
    color: #282828;
    font-weight: bold;
}

.faq h3 {
    font-weight: normal;
    font-size: 27px;
    margin: 0;
}

.faq h5 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin:  0 0 20px 0;
    letter-spacing: .5px;
    line-height: 25px;
}

.faq p {
    margin-bottom: 30px;
}

.m_right {
    margin-right: 20px;
}

#testimoni .quote {
    font-size: 90px;
    font-family: Georgia;
    text-align: right;
    color: #163c66;
}

#buy_now {
    padding:50px 0 100px 0;
    text-align: center;
    border-top: 5px solid #e1ddde;
}

#buy_now h2 {
    font-size: 36px;
    font-weight: bold;
}

#buy_now h4 {
    font-size: 25px;
    letter-spacing: 0;
    margin: 30px 0 20px 0
}

a.toplink {
    line-height: 50px;
    color: #fff;
}

a.toplink:hover {
    text-decoration: underline;
}

#bottom_cta {
    background: url('../Images/circuit-repeat-ng.jpg') repeat;
    color: #fff;
    font-size: 25px;
    text-shadow: 0 1px 0 #000;
    padding: 50px 0;
    text-transform: uppercase;
}

.btn-cta {
    background: #c9376e;
    color: #fff;
    font-size: 14px;
    font-weight:bold;
    border: none;
    text-transform: uppercase;
    padding: 7px 50px;
    line-height: 30px;
    text-shadow: 0 1px 0 #000;
    letter-spacing: .9px;
    border-bottom: 5px solid #810030;
    margin-top: 10px
}

.search-top .btn-cta {
    font-size: 12px;
    padding: 4px 30px;
    line-height: 20px;
    margin-top: 0px;
}   

.btn-thanks {
    background: #33a6e9;
    border-bottom: 5px solid #0c2d47;
}

.btn-cancel {
    background: #a7cee9;
    border-bottom: 5px solid #163c66;
    color: #163c66;
    margin-left: 20px;
}

.contact_details h4 {
    font-weight: 16px;
    color: #000;
    margin: 5px 0 15px 0;
    text-transform: uppercase;
}

.contact_details p {
    margin-bottom: 30px;
}

form.admin_form p {
    padding: 0;margin:0;
}

.admin_title {
    text-align: right;
}

body.admin .bg-info {
    padding: 30px 20px;
    background: #f5fbfd;
}

.about_mission {
    margin-bottom: 30px;
}

.about_mission h4 {
    text-transform: uppercase;
    font-weight: bold;
}


#footer {
    background: #15222b;
    padding: 30px 20px 0 20px;
    color:#bfd4e7;
    font-size: 14px;
    line-height: 22px;
}

#footer p {
    font-size: 13px;
}

#footer a {
    color: #fff;
}

#footer a:hover {
    color:#bfd4e7;
}

#footer span {
    color: #f6d102;
}

#footer h4 {
    text-transform: uppercase;
    margin: 0 0 30px 0;
}

#footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#footer ul li {
    line-height: 30px
}

.t_footer {
    padding: 40px 0;
}

.t_footer img {
    margin: 0 0 30px 0
}

.b_footer {
    font-size: 12px;
    color: #bfd4e7;
    border-top: 1px solid #1a446a;
    padding: 20px 0;
}

.or {
    text-align: center;
    color: #aaaaaa;
    font-size: 14px;
    font-weight: bold;
    float: left;
    text-align: center;
    position: relative;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 14%;
    margin-left: 30px;

}

.or:before {
    background: #fff;
    content: "or";
    left: 40px;
    top: 80px;
    padding: 16px 0;
    position: absolute;
    z-index: 999;
}

.or:after {
background: #ddd;
    content: "";
    height: 200px;
    left: 50px;
    top: 0px;
    position: absolute;
    width: 1px;
}
/** CAROUSEL DEMYSTIFIED
================================================**/

/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */


/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
    position: relative;
    margin: 0 auto 60px;
    padding: 0;
    *zoom: 1;
    margin-top: 60px;
}

.bx-wrapper img {
    max-width: 100%;
    display: block;
}

/** THEME
===================================*/

.bx-wrapper .bx-viewport {
    left: -5px;
    background: transparent;
    
    /*fix other elements on the page moving (on Chrome)*/
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
        -ms-transform: translatez(0);
        -o-transform: translatez(0);
        transform: translatez(0);
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: -30px;
    width: 100%;
}

/* LOADER */

.bx-wrapper .bx-loading {
    min-height: 50px;
    background: url(../Images/bx_loader.gif) center center no-repeat #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
}

/* PAGER */

.bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: bold;
    color: #666;
    padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: #666;
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #000;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
    left: 10px;
    background: url(../Images/controls.png) no-repeat 0 -32px;
}

.bx-wrapper .bx-next {
    right: 10px;
    background: url(../Images/controls.png) no-repeat -43px -32px;
}

.bx-wrapper .bx-prev:hover {
    background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
    background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    outline: 0;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
    display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
    text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
    display: block;
    text-indent: -9999px;
    width: 10px;
    height: 11px;
    outline: 0;
    background: url(images/controls.png) -86px -11px no-repeat;
    margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
    background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
    display: block;
    text-indent: -9999px;
    width: 9px;
    height: 11px;
    outline: 0;
    background: url(images/controls.png) -86px -44px no-repeat;
    margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
    background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    text-align: left;
    width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
    right: 0;
    width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #666\9;
    background: rgba(80, 80, 80, 0.75);
    width: 100%;
}

.bx-wrapper .bx-caption span {
    color: #fff;
    font-family: Arial;
    display: block;
    font-size: .85em;
    padding: 10px;
}


.carousel-demystified aside { display: none; }
.carousel-demystified #primary { margin: 0;}

.carousel-demystified h2 {
    font-size: 1.75em;
    margin-bottom: 30px;
}

.carousel-demystified ol li {
    list-style: decimal;
    margin: 0 0 5px 50px;
    line-height: 1.35em;
    color: #555;
}

.slides_desc {
    text-align: center;
    padding:40px 100px;
    background: #fff;
    overflow: hidden;
}

.slides_desc h2 {
    font-size: 27px;
    font-weight: bold;
}

.slides_desc h2 a:hover {
    color: #000;
}

.slides_desc p {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 0;
}

.slides_desc .btn-primary {
    margin-top:20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

.slide_thumb {
    background: #1e4c6d;
}

.slide_thumb img {
    padding: 30px;
}

.bx-wrapper {
    max-width: none !important;
}

/*
 Pricing CSS
*/

#DIV_1 {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    height: 836px;
    text-align: center;
    text-rendering: optimizeLegibility;
    width: 1120px;
    perspective-origin: 560px 418px;
    transform-origin: 560px 418px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 0px/0px 'Whitney SSm A', 'Whitney SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(68, 68, 68) none 0px;
    overflow: hidden;
}/*#DIV_1*/

#DIV_2 {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    display: inline-block;
    height: 781px;
    max-width: 360px;
    text-align: center;
    text-rendering: optimizeLegibility;
    width: 299px;
    perspective-origin: 149.5px 390.5px;
    transform-origin: 149.5px 390.5px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 1px solid rgb(232, 232, 232);
    border-right: 0px none rgb(68, 68, 68);
    border-bottom: 1px solid rgb(232, 232, 232);
    border-left: 1px solid rgb(232, 232, 232);
    font: normal normal normal normal 18px/21.6000003814697px 'Whitney SSm A', 'Whitney SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(68, 68, 68) none 0px;
    padding: 0px 20px 30px;
}/*#DIV_2*/

#DIV_3, #DIV_91 {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    text-align: center;
    text-rendering: optimizeLegibility;
    width: 258px;
    perspective-origin: 129px 0px;
    transform-origin: 129px 0px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 18px/21.6000003814697px 'Whitney SSm A', 'Whitney SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(68, 68, 68) none 0px;
}/*#DIV_3, #DIV_91*/

#DIV_4, #DIV_92 {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    height: 250px;
    max-width: 258px;
    text-align: center;
    text-rendering: optimizeLegibility;
    width: 258px;
    perspective-origin: 129px 125px;
    transform-origin: 129px 125px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 18px/21.6000003814697px 'Whitney SSm A', 'Whitney SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 15px 0px;
    outline: rgb(68, 68, 68) none 0px;
}/*#DIV_4, #DIV_92*/

#DIV_5, #DIV_93 {
    box-sizing: border-box;
    color: rgb(153, 153, 153);
    height: 21px;
    text-align: center;
    text-rendering: optimizeLegibility;
    width: 258px;
    perspective-origin: 129px 10.5px;
    transform-origin: 129px 10.5px;
    border: 0px none rgb(153, 153, 153);
    font: normal normal normal normal 18px/21.6000003814697px 'Gotham SSm A', 'Gotham SSm B', 'lucida grande', Tahoma, Arial, sans-serif;
    margin: 30px 0px 20px;
    outline: rgb(153, 153, 153) none 0px;
}/*#DIV_5, #DIV_93*/

#DIV_6, #DIV_94 {
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    height: 60px;
    text-align: center;
    text-rendering: optimizeLegibility;
    width: 258px;
    perspective-origin: 129px 30px;
    transform-origin: 129px 30px;
    border: 0px none rgb(119, 119, 119);
    font: normal normal normal normal 25.0000190734863px/30.0000228881836px 'Gotham SSm A', 'Gotham SSm B', 'lucida grande', Tahoma, Arial, sans-serif;
    outline: rgb(119, 119, 119) none 0px;
}/*#DIV_6, #DIV_94*/

#DIV_7, #DIV_51, #DIV_95 {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    height: 59px;
    text-align: center;
    text-rendering: optimizeLegibility;
    width: 258px;
    perspective-origin: 129px 29.5px;
    transform-origin: 129px 29.5px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 18px/21.6000003814697px 'Whitney SSm A', 'Whitney SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 25px 0px 15px;
    outline: rgb(68, 68, 68) none 0px;
}/*#DIV_7, #DIV_51, #DIV_95*/

#P_8, #P_96 {
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    height: 59px;
    text-align: center;
    text-rendering: optimizeLegibility;
    width: 258px;
    perspective-origin: 129px 29.5px;
    transform-origin: 129px 29.5px;
    border: 0px none rgb(119, 119, 119);
    font: normal normal normal normal 34.9999198913574px/59.4998626708984px 'Gotham SSm A', 'Gotham SSm B', 'lucida grande', Tahoma, Arial, sans-serif;
    margin: 0px;
    outline: rgb(119, 119, 119) none 0px;
}/*#P_8, #P_96*/

#SUP_9, #SUP_97 {
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    position: relative;
    text-align: center;
    text-rendering: optimizeLegibility;
    top: -12.5000095367432px;
    vertical-align: baseline;
    border: 0px none rgb(119, 119, 119);
    font: normal normal normal normal 25.0000190734863px/0px 'Gotham SSm A', 'Gotham SSm B', 'lucida grande', Tahoma, Arial, sans-serif;
    outline: rgb(119, 119, 119) none 0px;
}/*#SUP_9, #SUP_97*/

#SUB_10, #SUB_98 {
    bottom: -6.25000476837158px;
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    position: relative;
    text-align: center;
    text-rendering: optimizeLegibility;
    vertical-align: baseline;
    border: 0px none rgb(119, 119, 119);
    font: normal normal normal normal 25.0000190734863px/0px 'Gotham SSm A', 'Gotham SSm B', 'lucida grande', Tahoma, Arial, sans-serif;
    outline: rgb(119, 119, 119) none 0px;
}/*#SUB_10, #SUB_98*/

#DIV_11, #DIV_12, #DIV_55, #DIV_99 {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    height: 50px;
    text-align: center;
    text-rendering: optimizeLegibility;
    width: 258px;
    perspective-origin: 129px 25px;
    transform-origin: 129px 25px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 18px/21.6000003814697px 'Whitney SSm A', 'Whitney SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(68, 68, 68) none 0px;
}/*#DIV_11, #DIV_12, #DIV_55, #DIV_99*/

#P_13, #P_101 {
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    height: 50px;
    text-align: center;
    text-rendering: optimizeLegibility;
    width: 258px;
    perspective-origin: 129px 25px;
    transform-origin: 129px 25px;
    border: 0px none rgb(119, 119, 119);
    font: normal normal normal normal 14.0000400543213px/23.8000679016113px 'Gotham SSm A', 'Gotham SSm B', 'lucida grande', Tahoma, Arial, sans-serif;
    margin: 10px 0px;
    outline: rgb(119, 119, 119) none 0px;
}/*#P_13, #P_101*/

#STRONG_14, #STRONG_23, #STRONG_102, #STRONG_111 {
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    text-align: center;
    text-rendering: optimizeLegibility;
    border: 0px none rgb(119, 119, 119);
    font: normal normal 600 normal 16.0000190734863px/27.2000331878662px 'Gotham SSm A', 'Gotham SSm B', 'lucida grande', Tahoma, Arial, sans-serif;
    margin: 10px auto;
    outline: rgb(119, 119, 119) none 0px;
}/*#STRONG_14, #STRONG_23, #STRONG_102, #STRONG_111*/

#SUP_15, #SUP_59, #SUP_103 {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    position: relative;
    text-align: center;
    text-rendering: optimizeLegibility;
    top: -5.60001611709595px;
    vertical-align: baseline;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 11.2000322341919px/0px 'Whitney SSm A', 'Whitney SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(68, 68, 68) none 0px;
}/*#SUP_15, #SUP_59, #SUP_103*/

#IMG_16, #IMG_60, #IMG_104 {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    height: 16px;
    max-width: 100%;
    text-align: center;
    text-rendering: optimizeLegibility;
    width: 16px;
    perspective-origin: 8px 8px;
    transform-origin: 8px 8px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 18px/0px 'Whitney SSm A', 'Whitney SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(68, 68, 68) none 0px;
}/*#IMG_16, #IMG_60, #IMG_104*/

#BR_17, #BR_105 {
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    text-align: center;
    text-rendering: optimizeLegibility;
    border: 0px none rgb(119, 119, 119);
    font: normal normal normal normal 14.0000400543213px/23.8000679016113px 'Gotham SSm A', 'Gotham SSm B', 'lucida grande', Tahoma, Arial, sans-serif;
    outline: rgb(119, 119, 119) none 0px;
}/*#BR_17, #BR_105*/

#DIV_18, #DIV_35, #DIV_106, #DIV_122 {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    height: 2px;
    text-align: center;
    text-rendering: optimizeLegibility;
    width: 258px;
    perspective-origin: 129px 1px;
    transform-origin: 129px 1px;
    border-top: 2px solid rgb(232, 232, 232);
    border-right: 0px none rgb(68, 68, 68);
    border-bottom: 0px none rgb(68, 68, 68);
    border-left: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 18px/21.6000003814697px 'Whitney SSm A', 'Whitney SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(68, 68, 68) none 0px;
}/*#DIV_18, #DIV_35, #DIV_106, #DIV_122*/

#DIV_19 {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    height: 161px;
    max-width: 258px;
    text-align: center;
    text-rendering: optimizeLegibility;
    width: 258px;
    perspective-origin: 129px 80.5px;
    transform-origin: 129px 80.5px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 18px/21.6000003814697px 'Whitney SSm A', 'Whitney SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 15px 0px;
    outline: rgb(68, 68, 68) none 0px;
}/*#DIV_19*/

#DIV_20, #DIV_64 {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    height: 161px;
    text-align: center;
    text-rendering: optimizeLegibility;
    width: 258px;
    perspective-origin: 129px 80.5px;
    transform-origin: 129px 80.5px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 18px/21.6000003814697px 'Whitney SSm A', 'Whitney SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(68, 68, 68) none 0px;
}/*#DIV_20, #DIV_64*/

#DIV_21, #DIV_65, #DIV_109 {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    height: 27px;
    text-align: center;
    text-rendering: optimizeLegibility;
    width: 258px;
    perspective-origin: 129px 13.5px;
    transform-origin: 129px 13.5px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 18px/21.6000003814697px 'Whitney SSm A', 'Whitney SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(68, 68, 68) none 0px;
}/*#DIV_21, #DIV_65, #DIV_109*/

#P_22, #P_110 {
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    height: 27px;
    text-align: center;
    text-rendering: optimizeLegibility;
    width: 258px;
    perspective-origin: 129px 13.5px;
    transform-origin: 129px 13.5px;
    border: 0px none rgb(119, 119, 119);
    font: normal normal normal normal 14.0000400543213px/23.8000679016113px 'Gotham SSm A', 'Gotham SSm B', 'lucida grande', Tahoma, Arial, sans-serif;
    margin: 10px 0px;
    outline: rgb(119, 119, 119) none 0px;
}/*#P_22, #P_110*/

#DIV_24, #DIV_29, #DIV_31, #DIV_68, #DIV_73, #DIV_75, #DIV_112, #DIV_114, #DIV_116, #DIV_118 {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    height: 23px;
    text-align: center;
    text-rendering: optimizeLegibility;
    width: 258px;
    perspective-origin: 129px 11.5px;
    transform-origin: 129px 11.5px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 18px/21.6000003814697px 'Whitney SSm A', 'Whitney SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(68, 68, 68) none 0px;
}/*#DIV_24, #DIV_29, #DIV_31, #DIV_68, #DIV_73, #DIV_75, #DIV_112, #DIV_114, #DIV_116, #DIV_118*/

#P_25, #P_30, #P_38, #P_40, #P_113, #P_117, #P_125, #P_127 {
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    height: 23px;
    text-align: center;
    text-rendering: optimizeLegibility;
    width: 258px;
    perspective-origin: 129px 11.5px;
    transform-origin: 129px 11.5px;
    border: 0px none rgb(119, 119, 119);
    font: normal normal normal normal 14.0000400543213px/23.8000679016113px 'Gotham SSm A', 'Gotham SSm B', 'lucida grande', Tahoma, Arial, sans-serif;
    margin: 10px 0px;
    outline: rgb(119, 119, 119) none 0px;
}/*#P_25, #P_30, #P_38, #P_40, #P_113, #P_117, #P_125, #P_127*/

#DIV_26, #DIV_70 {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    height: 25px;
    text-align: center;
    text-rendering: optimizeLegibility;
    width: 258px;
    perspective-origin: 129px 12.5px;
    transform-origin: 129px 12.5px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 18px/21.6000003814697px 'Whitney SSm A', 'Whitney SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(68, 68, 68) none 0px;
}/*#DIV_26, #DIV_70*/

#P_27 {
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    height: 25px;
    text-align: center;
    text-rendering: optimizeLegibility;
    width: 258px;
    perspective-origin: 129px 12.5px;
    transform-origin: 129px 12.5px;
    border: 0px none rgb(119, 119, 119);
    font: normal normal normal normal 14.0000400543213px/23.8000679016113px 'Gotham SSm A', 'Gotham SSm B', 'lucida grande', Tahoma, Arial, sans-serif;
    margin: 10px 0px;
    outline: rgb(119, 119, 119) none 0px;
}/*#P_27*/

#IMG_28, #IMG_72 {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    height: 25px;
    max-width: 100%;
    text-align: center;
    text-rendering: optimizeLegibility;
    vertical-align: middle;
    width: 25px;
    perspective-origin: 12.5px 12.5px;
    transform-origin: 12.5px 12.5px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 18px/30.6000003814697px 'Whitney SSm A', 'Whitney SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px 10px 0px 0px;
    outline: rgb(68, 68, 68) none 0px;
}/*#IMG_28, #IMG_72*/

#P_32, #P_39, #P_115, #P_126 {
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    height: 23px;
    text-align: center;
    text-rendering: optimizeLegibility;
    width: 258px;
    perspective-origin: 129px 11.5px;
    transform-origin: 129px 11.5px;
    border: 0px none rgb(119, 119, 119);
    font: normal normal normal normal 14.0000400543213px/23.8000679016113px 'Gotham SSm A', 'Gotham SSm B', 'lucida grande', Tahoma, Arial, sans-serif;
    margin: 10px 0px;
    outline: rgb(119, 119, 119) none 0px;
}/*#P_32, #P_39, #P_115, #P_126*/

#A_33, #A_120 {
    box-sizing: border-box;
    color: rgb(0, 152, 219);
    display: block;
    height: 23px;
    text-align: center;
    text-rendering: optimizeLegibility;
    width: 258px;
    perspective-origin: 129px 11.5px;
    transform-origin: 129px 11.5px;
    border: 0px none rgb(0, 152, 219);
    font: normal normal normal normal 14.0000400543213px/23.8000679016113px 'Gotham SSm A', 'Gotham SSm B', 'lucida grande', Tahoma, Arial, sans-serif;
    margin: 10px 0px;
    outline: rgb(0, 152, 219) none 0px;
}/*#A_33, #A_120*/

#STRONG_34, #STRONG_121 {
    box-sizing: border-box;
    color: rgb(0, 152, 219);
    text-align: center;
    text-rendering: optimizeLegibility;
    border: 0px none rgb(0, 152, 219);
    font: normal normal 600 normal 14.0000400543213px/23.8000679016113px 'Gotham SSm A', 'Gotham SSm B', 'lucida grande', Tahoma, Arial, sans-serif;
    margin: 10px auto;
    outline: rgb(0, 152, 219) none 0px;
}/*#STRONG_34, #STRONG_121*/

#DIV_36, #DIV_123 {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    height: 208px;
    max-width: 258px;
    text-align: center;
    text-rendering: optimizeLegibility;
    width: 258px;
    perspective-origin: 129px 104px;
    transform-origin: 129px 104px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 18px/21.6000003814697px 'Lato', sans-serif;
    margin: 15px 0px;
    outline: rgb(68, 68, 68) none 0px;
}/*#DIV_36, #DIV_123*/

#DIV_37, #DIV_81, #DIV_124 {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    height: 122px;
    text-align: center;
    text-rendering: optimizeLegibility;
    width: 258px;
    perspective-origin: 129px 61px;
    transform-origin: 129px 61px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 18px/21.6000003814697px 'Lato', sans-serif;
    outline: rgb(68, 68, 68) none 0px;
}/*#DIV_37, #DIV_81, #DIV_124*/

#P_41, #P_119 {
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    height: 23px;
    text-align: center;
    text-rendering: optimizeLegibility;
    width: 258px;
    perspective-origin: 129px 11.5px;
    transform-origin: 129px 11.5px;
    border: 0px none rgb(119, 119, 119);
    font: normal normal normal normal 14.0000400543213px/23.8000679016113px 'Lato', sans-serif;
    outline: rgb(119, 119, 119) none 0px;
}/*#P_41, #P_119*/

#DIV_42, #DIV_86, #DIV_129 {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    height: 66px;
    text-align: center;
    text-rendering: optimizeLegibility;
    width: 258px;
    perspective-origin: 129px 33px;
    transform-origin: 129px 33px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 18px/21.6000003814697px 'Lato', sans-serif;
    margin: 20px 0px 0px;
    outline: rgb(68, 68, 68) none 0px;
}/*#DIV_42, #DIV_86, #DIV_129*/

#A_43, #A_87, #A_130 {
    box-shadow: #0a253e 0px 4px 0px 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    height: 66px;
    text-align: center;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    text-transform: capitalize;
    touch-action: manipulation;
    vertical-align: middle;
    width: 225.984375px;
    perspective-origin: 112.984375px 33px;
    transform-origin: 112.984375px 33px;
    background: #2faaed none repeat scroll 0% 0% / auto padding-box padding-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 5px 5px 5px 5px;
    font: normal normal bold normal 18px/18px 'Lato', sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 15px 24px;
}/*#A_43, #A_87, #A_130*/

#BR_44, #BR_88, #BR_131 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-align: center;
    text-rendering: optimizeLegibility;
    text-transform: capitalize;
    border: 0px none rgb(255, 255, 255);
    font: normal normal bold normal 18px/18px 'Lato', sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#BR_44, #BR_88, #BR_131*/

#DIV_45, #DIV_132 {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    height: 21px;
    text-align: center;
    text-rendering: optimizeLegibility;
    width: 258px;
    perspective-origin: 129px 10.5px;
    transform-origin: 129px 10.5px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 18px/21.6000003814697px 'Lato', sans-serif;
    outline: rgb(68, 68, 68) none 0px;
}/*#DIV_45, #DIV_132*/

#DIV_46 {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    display: inline-block;
    height: 836px;
    max-width: 400px;
    text-align: center;
    text-rendering: optimizeLegibility;
    width: 324.765625px;
    perspective-origin: 162.375px 418px;
    transform-origin: 162.375px 418px;
    background: #da2867 none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(232, 232, 232);
    font: normal normal normal normal 18px/21.6000003814697px 'Lato', sans-serif;
    outline: rgb(68, 68, 68) none 0px;
    padding: 0px 0px 30px;
}/*#DIV_46*/

#DIV_47 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 36px;
    text-align: center;
    text-rendering: optimizeLegibility;
    width: 322.765625px;
    perspective-origin: 161.375px 18px;
    transform-origin: 161.375px 18px;
    background: #870015 none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 500 normal 14.0000400543213px/16.800048828125px 'Lato', sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 10px 114px;
}/*#DIV_47*/

#DIV_48 {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    height: 250px;
    max-width: 258px;
    text-align: center;
    text-rendering: optimizeLegibility;
    width: 258px;
    perspective-origin: 129px 125px;
    transform-origin: 129px 125px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 18px/21.6000003814697px 'Lato', sans-serif;
    margin: 15px 32.390625px 15px 32.375px;
    outline: rgb(68, 68, 68) none 0px;
}/*#DIV_48*/

#DIV_49 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 21px;
    text-align: center;
    text-rendering: optimizeLegibility;
    width: 258px;
    perspective-origin: 129px 10.5px;
    transform-origin: 129px 10.5px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 18px/21.6000003814697px 'Lato', sans-serif;
    margin: 30px 0px 20px;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_49*/

#DIV_50 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 60px;
    text-align: center;
    text-rendering: optimizeLegibility;
    width: 258px;
    perspective-origin: 129px 30px;
    transform-origin: 129px 30px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 25.0000190734863px/30.0000228881836px 'Lato', sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_50*/

#P_52 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 59px;
    text-align: center;
    text-rendering: optimizeLegibility;
    width: 258px;
    perspective-origin: 129px 29.5px;
    transform-origin: 129px 29.5px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 34.9999198913574px/59.4998626708984px 'Lato', sans-serif;
    margin: 0px;
    outline: rgb(255, 255, 255) none 0px;
}/*#P_52*/

#SUP_53 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    position: relative;
    text-align: center;
    text-rendering: optimizeLegibility;
    top: -12.5000095367432px;
    vertical-align: baseline;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 25.0000190734863px/0px 'Lato', sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#SUP_53*/

#SUB_54 {
    bottom: -6.25000476837158px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    position: relative;
    text-align: center;
    text-rendering: optimizeLegibility;
    vertical-align: baseline;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 25.0000190734863px/0px 'Lato', sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#SUB_54*/

#DIV_56, #DIV_100 {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    height: 50px;
    text-align: center;
    text-rendering: optimizeLegibility;
    width: 258px;
    perspective-origin: 129px 25px;
    transform-origin: 129px 25px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 18px/21.6000003814697px 'Lato', sans-serif;
    outline: rgb(68, 68, 68) none 0px;
}/*#DIV_56, #DIV_100*/

#P_57 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 50px;
    text-align: center;
    text-rendering: optimizeLegibility;
    width: 258px;
    perspective-origin: 129px 25px;
    transform-origin: 129px 25px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 14.0000400543213px/23.8000679016113px 'Lato', sans-serif;
    margin: 10px 0px;
    outline: rgb(255, 255, 255) none 0px;
}/*#P_57*/

#STRONG_58, #STRONG_67 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: center;
    text-rendering: optimizeLegibility;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 600 normal 16.0000190734863px/27.2000331878662px 'Lato', sans-serif;
    margin: 10px auto;
    outline: rgb(255, 255, 255) none 0px;
}/*#STRONG_58, #STRONG_67*/

#BR_61 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: center;
    text-rendering: optimizeLegibility;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 14.0000400543213px/23.8000679016113px 'Lato', sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#BR_61*/

#DIV_62, #DIV_79 {
    box-sizing: border-box;
    color: #870015;
    height: 2px;
    text-align: center;
    text-rendering: optimizeLegibility;
    width: 282.765625px;
    perspective-origin: 141.375px 1px;
    transform-origin: 141.375px 1px;
    border-top: 2px solid #870015;
    font: normal normal normal normal 18px/21.6000003814697px 'Lato', sans-serif;
    margin: 0px 20px;
    outline: rgb(68, 68, 68) none 0px;
}/*#DIV_62, #DIV_79*/

#DIV_63 {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    height: 161px;
    max-width: 258px;
    text-align: center;
    text-rendering: optimizeLegibility;
    width: 258px;
    perspective-origin: 129px 80.5px;
    transform-origin: 129px 80.5px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 18px/21.6000003814697px 'Lato', sans-serif;
    margin: 15px 32.390625px 15px 32.375px;
    outline: rgb(68, 68, 68) none 0px;
}/*#DIV_63*/

#P_66 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 27px;
    text-align: center;
    text-rendering: optimizeLegibility;
    width: 258px;
    perspective-origin: 129px 13.5px;
    transform-origin: 129px 13.5px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 14.0000400543213px/23.8000679016113px 'Lato', sans-serif;
    margin: 10px 0px;
    outline: rgb(255, 255, 255) none 0px;
}/*#P_66*/

#P_69, #P_74, #P_82, #P_84 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 23px;
    text-align: center;
    text-rendering: optimizeLegibility;
    width: 258px;
    perspective-origin: 129px 11.5px;
    transform-origin: 129px 11.5px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 14.0000400543213px/23.8000679016113px 'Gotham SSm A', 'Gotham SSm B', 'lucida grande', Tahoma, Arial, sans-serif;
    margin: 10px 0px;
    outline: rgb(255, 255, 255) none 0px;
}/*#P_69, #P_74, #P_82, #P_84*/

#P_71 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 25px;
    text-align: center;
    text-rendering: optimizeLegibility;
    width: 258px;
    perspective-origin: 129px 12.5px;
    transform-origin: 129px 12.5px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 14.0000400543213px/23.8000679016113px 'Gotham SSm A', 'Gotham SSm B', 'lucida grande', Tahoma, Arial, sans-serif;
    margin: 10px 0px;
    outline: rgb(255, 255, 255) none 0px;
}/*#P_71*/

#P_76, #P_83 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 23px;
    text-align: center;
    text-rendering: optimizeLegibility;
    width: 258px;
    perspective-origin: 129px 11.5px;
    transform-origin: 129px 11.5px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 14.0000400543213px/23.8000679016113px 'Gotham SSm A', 'Gotham SSm B', 'lucida grande', Tahoma, Arial, sans-serif;
    margin: 10px 0px;
    outline: rgb(255, 255, 255) none 0px;
}/*#P_76, #P_83*/

#A_77 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    height: 23px;
    text-align: center;
    text-rendering: optimizeLegibility;
    width: 258px;
    perspective-origin: 129px 11.5px;
    transform-origin: 129px 11.5px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 14.0000400543213px/23.8000679016113px 'Gotham SSm A', 'Gotham SSm B', 'lucida grande', Tahoma, Arial, sans-serif;
    margin: 10px 0px;
    outline: rgb(255, 255, 255) none 0px;
}/*#A_77*/

#STRONG_78 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: center;
    text-rendering: optimizeLegibility;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 600 normal 14.0000400543213px/23.8000679016113px 'Gotham SSm A', 'Gotham SSm B', 'lucida grande', Tahoma, Arial, sans-serif;
    margin: 10px auto;
    outline: rgb(255, 255, 255) none 0px;
}/*#STRONG_78*/

#DIV_80 {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    height: 208px;
    max-width: 258px;
    text-align: center;
    text-rendering: optimizeLegibility;
    width: 258px;
    perspective-origin: 129px 104px;
    transform-origin: 129px 104px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 18px/21.6000003814697px 'Whitney SSm A', 'Whitney SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 15px 32.390625px 15px 32.375px;
    outline: rgb(68, 68, 68) none 0px;
}/*#DIV_80*/

#P_85 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 23px;
    text-align: center;
    text-rendering: optimizeLegibility;
    width: 258px;
    perspective-origin: 129px 11.5px;
    transform-origin: 129px 11.5px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 14.0000400543213px/23.8000679016113px 'Gotham SSm A', 'Gotham SSm B', 'lucida grande', Tahoma, Arial, sans-serif;
    margin: 10px 0px;
    outline: rgb(255, 255, 255) none 0px;
}/*#P_85*/

#DIV_89 {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    height: 40px;
    text-align: center;
    text-rendering: optimizeLegibility;
    width: 322.765625px;
    perspective-origin: 161.375px 20px;
    transform-origin: 161.375px 20px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 18px/21.6000003814697px 'Whitney SSm A', 'Whitney SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(68, 68, 68) none 0px;
}/*#DIV_89*/

#DIV_90 {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    display: inline-block;
    height: 779px;
    max-width: 360px;
    text-align: center;
    text-rendering: optimizeLegibility;
    width: 299px;
    perspective-origin: 149.5px 389.5px;
    transform-origin: 149.5px 389.5px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 1px solid rgb(232, 232, 232);
    border-right: 1px solid rgb(232, 232, 232);
    border-bottom: 1px solid rgb(232, 232, 232);
    border-left: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 18px/21.6000003814697px 'Whitney SSm A', 'Whitney SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(68, 68, 68) none 0px;
    padding: 0px 20px 30px;
}/*#DIV_90*/

#DIV_107 {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    height: 159px;
    max-width: 258px;
    text-align: center;
    text-rendering: optimizeLegibility;
    width: 258px;
    perspective-origin: 129px 79.5px;
    transform-origin: 129px 79.5px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 18px/21.6000003814697px 'Whitney SSm A', 'Whitney SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 15px 0px;
    outline: rgb(68, 68, 68) none 0px;
}/*#DIV_107*/

#DIV_108 {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    height: 159px;
    text-align: center;
    text-rendering: optimizeLegibility;
    width: 258px;
    perspective-origin: 129px 79.5px;
    transform-origin: 129px 79.5px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 18px/21.6000003814697px 'Whitney SSm A', 'Whitney SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(68, 68, 68) none 0px;
}/*#DIV_108*/

#P_128 {
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    height: 23px;
    text-align: center;
    text-rendering: optimizeLegibility;
    width: 258px;
    perspective-origin: 129px 11.5px;
    transform-origin: 129px 11.5px;
    border: 0px none rgb(119, 119, 119);
    font: normal normal normal normal 14.0000400543213px/23.8000679016113px 'Gotham SSm A', 'Gotham SSm B', 'lucida grande', Tahoma, Arial, sans-serif;
    margin: 10px 0px;
    outline: rgb(119, 119, 119) none 0px;
}/*#P_128*/

a.topright

{
line-height: 50px;
color: #fff;


}

a.topright:hover

{text-decoration: underline;

}

.signupbox{
    background:#fff;
    padding: 40px 30px;
	overflow:hidden;
}

.signupbox h3 {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 30px;
}

.dash_bar {
    background: #a0c8e4;
    padding: 15px 40px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; /* future proofing */
    -khtml-border-radius: 5px; /* for old Konqueror browsers */
    width: 100%;
    margin-bottom: 30px;
}

.dash_bar ul.nav-pills li a {
    padding: 5px 20px;
    font-size: 16px;
    margin:0 20px;
    letter-spacing: 0;
    font-weight: bold;
}

ul.dash_cyber_list {
    margin: 30px 0;
}

ul.dash_cyber_list li {
    display: block;
    line-height: 50px;
    font-size:16px;
    font-weight: bold;
}

ul.dash_cyber_list li span {
    float: right;
}

ul.dash_cyber_list li span.label {
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    color: #fff;
    padding: 5px 10px;
    line-height: 20px;
    font-weight: normal;
    letter-spacing: .5px;
}

ul.dash_cyber_list li span.label:hover {
    background: #337ab7;
}

ul.dash_cyber_list li span.label a {
    color: #fff;
    text-shadow:none;
}

.dash_content hr {
    background: #a7cee9;
    border-top: 1px solid #a7cee9;
    border-bottom: 1px solid #fff;
    margin: 60px 0;
}

.dash_content h3,
.dash_profile h4 {
    font-size: 23px;
}

.dash_profile h4 {
    color: #0c2d47;
}

.dash_profile p {
    font-size: 14px;
    margin: 20px 0;
}

.dash_content form {
    margin: 30px 0;
    font-size: 15px;
}

.dash_content form input,
.dash_content form textarea {
    color: #000;
    font-size: 15px;
}

.dash_content span.req,
span.req {
    color: #ff0000;
}

.btn-hold {
    background: #348a10;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #000;
    padding: 20px 0;
    color: #fff;
    font-weight: bold;
}

.btn-del {
    background: #ae1510;
}

.man_acc h3,
.man_acc .row {
    margin-bottom: 30px;
}

.billing {
    background: #c8e3ef;
    padding: 30px 30px;
    margin: 30px 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; /* future proofing */
    -khtml-border-radius: 5px; /* for old Konqueror browsers */
    font-size: 15px;
}

.billing table thead {
    border: none;
    border-color: transparent;
}

/*! ========================================================================
 * Bootstrap Toggle: bootstrap-toggle.css v2.2.0
 * http://www.bootstraptoggle.com
 * ========================================================================
 * Copyright 2014 Min Hur, The New York Times Company
 * Licensed under MIT
 * ======================================================================== */
.checkbox label .toggle,.checkbox-inline .toggle{margin-left:-20px;margin-right:5px}
.toggle{position:relative;overflow:hidden}
.toggle input[type=checkbox]{display:none}
.toggle-group{position:absolute;width:200%;top:0;bottom:0;left:0;transition:left .35s;-webkit-transition:left .35s;-moz-user-select:none;-webkit-user-select:none}
.toggle.off .toggle-group{left:-100%}
.toggle-on{position:absolute;top:0;bottom:0;left:0;right:50%;margin:0;border:0;border-radius:0}
.toggle-off{position:absolute;top:0;bottom:0;left:50%;right:0;margin:0;border:0;border-radius:0}
.toggle-handle{position:relative;margin:0 auto;padding-top:0;padding-bottom:0;height:100%;width:0;border-width:0 1px}
.toggle.btn{min-width:59px;min-height:34px}
.toggle-on.btn{padding-right:24px}
.toggle-off.btn{padding-left:24px}
.toggle.btn-lg{min-width:79px;min-height:45px}
.toggle-on.btn-lg{padding-right:31px}
.toggle-off.btn-lg{padding-left:31px}
.toggle-handle.btn-lg{width:40px}
.toggle.btn-sm{min-width:50px;min-height:30px}
.toggle-on.btn-sm{padding-right:20px}
.toggle-off.btn-sm{padding-left:20px}
.toggle.btn-xs{min-width:35px;min-height:22px}
.toggle-on.btn-xs{padding-right:12px}
.toggle-off.btn-xs{padding-left:12px}



.notif h4,
.notif p {
    font-weight: normal;
    padding: 0; margin: 0;
}

.notif ul {
    padding: 0;margin:0;
}

.notif li {
    margin: 0 0 20px 0;
    padding: 0;

}

.navbar-nav>li>.dropdown-menu {
    z-index: 9999;
}

.top-nav .navbar-nav ul>li {
    background: #c8e3ef;
    
}

.top-nav .navbar-nav ul>li a {
    color: #000;
    font-size: 14px;
}

.sb-search {
    position: relative;
    margin-top: 10px;
    width: 0%;
    min-width: 60px;
    height: 60px;
    float: right;
    overflow: hidden;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
    -webkit-backface-visibility: hidden;
}

.sb-search-input {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    outline: none;
    background: #fff;
    width: 100%;
    height: 60px;
    margin: 0;
    z-index: 10;
    padding: 20px 65px 20px 20px;
    font-family: inherit;
    font-size: 20px;
    color: #2c3e50;
}

input[type="search"].sb-search-input {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
}

.sb-search-input::-webkit-input-placeholder {
    color: #efb480;
}

.sb-search-input:-moz-placeholder {
    color: #efb480;
}

.sb-search-input::-moz-placeholder {
    color: #efb480;
}

.sb-search-input:-ms-input-placeholder {
    color: #efb480;
}

.sb-icon-search,
.sb-search-submit  {
    width: 60px;
    height: 60px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
}

.sb-search-submit {
    background: #fff; /* IE needs this */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
    color: transparent;
    border: none;
    outline: none;
    z-index: -1;
}

.sb-icon-search {
    color: #fff;
    background: #e67e22;
    z-index: 90;
    font-size: 22px;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}


.sb-search.sb-search-open,
.no-js .sb-search {
    width: 100%;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
    background: #da6d0d;
    color: #fff;
    z-index: 11;
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
    z-index: 90;
}

.top_header {
    background: #1e4c6d;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.v2 .top_header {
    background: #fff;
}


.top_header ul li a {
    color: #fff;
}

.v2 .top_header ul li a {
    color: #444;
}

body.v2 .top_header {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

.sticky {
    z-index: 1000;
}

.btn-default.disabled {
    color: #ccc;
}

#footer img {
    height: 40px;
}

.navbar-collapse.collapse {
    float: right;
}

.mart_header h1.contact_new {
    line-height:30px !important;
    padding-top:35px;
}

h1.contact_new span {
    display:block;
    font-size:13px;
}

.screenie p.screen_title {
    text-align:center;
    color:#fff;
    font-size:30px;
    margin-bottom:30px;
}

.signup_login {
    overflow:hidden;
}

.signup_login h3 {
    text-align:left !important;
    line-height:22px;
}

.signup_login p {
    padding-bottom :20px;
    border-bottom:1px dotted #ccc;
}

.signup_left {
    background:#fff
}

.login_right {
    background:#ebf6fa;
}

.signup_left form,
.login_right form {
    padding:30px 40px
}

.signup_left,
.login_right {
    min-height:700px;
    margin-top:30px;
}

.header_wrap {
    padding:30px 40px;
    padding-bottom:0px;
}
